<% include ../_include/_header %>
<div class="content">
	<div class="wrap js-dim">
		<div class="content__box">
			<div class="content__header">
				<h1 class="content__tit">개인정보처리방침</h1>
				<p class="content__header-date">
					이전 개정일자 : 2016년 10월 15일<br>
					현행 시행일자 : 2017년 02월 02일
				</p>
			</div>
			<div class="content__body">
				<div class="etc">
					<p class="etc__txt">
						(주)한글과컴퓨터 (이하 '회사')는 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.
						이 개인정보 처리방침은 시행일부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 가능한 변경사항의 시행 7일 전부터 홈페이지 공지사항(또는 개별공지)을 통하여 고지할 것입니다.
					</p>
					<h3 class="etc__tit">
						제 1조 정의
					</h3>
					<ol class="etc__list">
						<li class="etc__item">① 서비스 : 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 회원이 이용할 수 있는 회사 및 회사의 관련 제반 서비스를 의미합니다.</li>
						<li class="etc__item">② 이용자 : 회사의 서비스에 접속하여 회사가 제공하는 서비스를 받는 회원 및 비회원을 포함한 모든 고객입니다.</li>
						<li class="etc__item">③ 회원 : 회사의 서비스에 접속하여 이 약관에 따라 회사와 이용계약을 체결하고 회사가 제공하는 서비스를 이용하는 고객입니다.</li>
						<li class="etc__item">④ 비회원 : 회원에 가입하지 않고 회사의 서비스를 이용하는 고객입니다.</li>
						<li class="etc__item">⑤ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 회사가 승인하는 이메일 주소를 의미합니다.</li>
						<li class="etc__item">⑥ 비밀번호 : 회원이 부여 받은 아이디와 일치되는 회원임을 확인하고 비밀보호를 위해 회원 자신이 정한 문자 또는 숫자의 조합을 의미합니다.</li>
					</ol>
					<h3 class="etc__tit">
						제 2조 개인정보의 처리목적
					</h3>
					<p class="etc__txt">회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
					<ol class="etc__list">
						<li class="etc__item">① 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산 : 콘텐츠 제공, 구매 및 요금 결제, 물품배송 또는 청구지 등 발송, 금융거래(결제 등) 본인 인증 및 금융 서비스</li>
						<li class="etc__item">② 회원 관리 : 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령확인, 불만처리 등 민원 처리, 고지사항 전달</li>
						<li class="etc__item">③ 마케팅 및 광고에 활용 : 신규 서비스(제품) 개발 및 특화 , 이벤트 등 광고성 정보 전달 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재 , 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계 활용.</li>
						<li class="etc__item">④ 온라인 부가서비스 연결 : 회원가입 및 개인정보수정을 통해 회원님께서 온라인 부가서비스 이용을 신청하셨을 경우 회사는 원활한 부가서비스 이용을 위하여 수집한 개인정보를 온라인 부가서비스 제공업체에 전달하게 됩니다.</li>
					</ol>
					<h3 class="etc__tit">제 3조 개인정보의 처리 및 보유기간</h3>
					<p class="etc__txt">회사의 회원으로서 회사가 제공하는 서비스를 받는 동안 회원님의 개인정보는 회사가 지속적으로 보유하며 회원님께 서비스를 제공하기 위하여 이용합니다.<br>
						 회원님께서 가입 해지를 요청한 경우 및 자격 상실 시에는 개인정보는 ID를 제외하고 즉시 삭제되며, 어떤 이유나 방법으로도 재생되거나 이용할 수 없도록 처리됩니다.
					 </p>
					 <ol class="etc__list">
					 	<li class="etc__item">① 회원가입정보 : 탈퇴 시 또는 제명된 때 개인정보 수집목적이 달성된 경우 파기를 원칙으로 하고 있으나, 상법과 전자상거래 등에서의 소비자 보호에 관한 법률, 국세기본법 등 규정에 의하여 회원님의 개인정보를 보유 할 수 있습니다. 관계법령에 의거하여 회사에서 보존하는 개인정보 항목 및 기간은 다음과 같습니다.</li>
							<ol class="etc__sub-list">
								<li class="etc__sub-item">1. 전자상거래 등에서의 소비자 보호에 관한 법률</li>
								<li class="etc__sub-item">2. 계약 또는 청약철회 등에 관한 기록: 5년 보관</li>
								<li class="etc__sub-item">3. 대금결제 및 재화 등의 공급에 관한 기록: 5년 보관</li>
								<li class="etc__sub-item">4. 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관</li>
								<li class="etc__sub-item">5. 전자금융거래법 전자금융에 관한 기록: 5년 보관</li>
								<li class="etc__sub-item">6. 불건전한 서비스 이용에 따른 사법기관 수사의뢰 : 1년</li>
								<li class="etc__sub-item">7. 통신비밀보호법 로그인 기록(방문기록): 3개월</li>
								<li class="etc__sub-item">8. 정보통신망 이용 촉진 및 정보 보호 등에 관한 법률 본인 확인에 관한 기록 : 6개월</li>
							</ol>
						<li class="etc__item">② 회사는 이 기간 동안 법령의 규정에 따라 개인정보를 보관하며, 본 정보를 다른 목적으로는 절대 이용하지 않습니다.</li>
					 </ol>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
