<% include ../_include/_header %>
<div class="content">
		<div class="content__box">
			<div class="content__body type-another">
				<div class="about__box nth-1">
					<div class="wrap">
						<h2 class="about__main-tit">
							더 쉽고,<br>
							<strong>더 색다르고,</strong><br>
							더 재미있게<i>!</i>
						</h2>
						<!-- 2017-03-28수정 -->
						<p class="about__main-txt medium">
							우리의 생활을 변화시키는 한컴의 다양한 소프트웨어 기술과 아이디어<br>
							더 나은 오늘을 만들고, 새로움이 가득한 내일을 열어갑니다<br>
							<strong>한컴 말랑말랑!</strong>
						</p>
						<!-- //2017-03-28수정 -->
						<div class="about__scroll">
							<ul class="about__list">
								<li class="about__item nth-1">
									<a href="" class="about__link">
										<h3 class="about__list-tit">지니톡</h3>
										<p class="about__list-txt">
											모바일 음성인식<br>
											자동통역기
										</p>
										<span class="about__icon">더보기</span>
									</a>
								</li>
								<li class="about__item nth-2">
									<a href="" class="about__link">
										<h3 class="about__list-tit">톡카페</h3>
										<p class="about__list-txt">
											나만의 프라이버시를<br>
											지켜주는 메신저 서비스
										</p>
										<span class="about__icon">더보기</span>
									</a>
								</li>
								<li class="about__item nth-3">
									<a href="" class="about__link">
										<!-- 2017-03-28수정 -->
										<h3 class="about__list-tit">위퍼블</h3>
										<p class="about__list-txt">
											내가 직접 만드는<br>
											독립출판 플랫폼
										</p>
										<!-- //2017-03-28수정 -->
										<span class="about__icon">더보기</span>
									</a>
								</li>
								<li class="about__item nth-4">
									<a href="" class="about__link">
										<h3 class="about__list-tit">드림시드</h3>
										<p class="about__list-txt">
											의미있는 생산을 위한<br>
											크라우드 펀딩 서비스
										</p>
										<span class="about__icon">더보기</span>
									</a>
								</li>
								<li class="about__item nth-5">
									<a href="" class="about__link">
										<h3 class="about__list-tit">플렉슬</h3>
										<p class="about__list-txt">
											전자책과 노트가 결합된<br>
											모바일 디지털노트
										</p>
										<span class="about__icon">더보기</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="about__box nth-2">
					<div class="wrap">
						<h2 class="about__tit">
							말랑말랑이란?<br>
							<span class="normal">말랑말랑은 우리의 생활을 변화시키는 한컴의 다양한<br class="hidden-m"> 소프트웨어 기술과 아이디어를 대표하는 브랜드입니다.</span>
						</h2>
						<div class="prod__box-wrap type-img type-384w">
							<div class="prod__bg">카페 - 커뮤니티</div>
						</div>
						<p class="about__txt type-another">
							또다른 미래를 만들어갈 4차 산업 혁명은 소프트웨어가 그 중심에 있다 해도 과언이 아닙니다.
							단순한 기능 중심의 기계, 설비가 아닌 VR, AR, AI 등 다양한 신기술의 활용을 통한 소프트웨어의 시대가 열리고 있습니다. 한컴 말랑말랑은 우리의 삶이 보다 쉽고 편안하고 재미있도록<br> 다양한 기술과 아이디어가 결합된 제품과 서비스를 선보입니다. 우리의 내일을 더욱 말랑말랑하게 만들어줄 한컴 말랑말랑 서비스들을 만나고, 경험해 보세요!
						</p>
					</div>
				</div>
				<div class="about__box nth-3">
					<div class="wrap">
						<h2 class="about__tit">
							말랑말랑이 꿈꾸는 것은?<br>
							<span class="normal">말랑말랑은 한컴이 만들어가는 미래 소프트웨어 생태계입니다.</span>
						</h2>
						<!-- 2017-03-28수정 -->
						<p class="about__txt">
							한컴은 다양한 기술과 아이디어의 공유를 최고의 가치로 두고 실현합니다.<br class="hidden-m">
							새로운 서비스들과 콘텐츠들을 하나의 플랫폼으로 연결하고, 그 플랫폼들이 유기적으로 어우러져 성장해나가는 생태계를 만들어냅니다.<br class="hidden-m">
							이것이 바로, 한컴 말랑말랑이 꿈꾸는 소프트웨어 생태계입니다.
						</p>
						<!-- //2017-03-28수정 -->
						<div class="about__mindmap">
							<div class="about__mindmap-img">말랑말랑 - 건강 헬스케어 - 소통 - 핀테크 - 콘텐츠 - 교육</div>
						</div>
					</div>
				</div>
				<div class="about__box nth-4">
					<div class="wrap">
						<h2 class="about__tit">
							말랑말랑 속에는 무엇이 있을까?<br>
							<span class="normal">쉽고, 색다르고, 재미있는 다양한 서비스가 있습니다</span>
						</h2>
						<div class="about__scroll2">
							<!-- 2017-03-28수정 -->
							<ul class="about__menu-list">
								<li class="about__menu-item nth-1">
									<div class="about__img">지니톡</div>
									<div class="about__menu-wrap">
										<p class="about__menu-txt">
											우연히 외국인을 만났을 때,<br class="hidden-m">
											처음 가보는 해외여행에서<br class="hidden-m">
											언어장벽 없이 자유롭게<br class="hidden-m">
											소통하는 방법
										</p>
									</div>
								</li>
								<li class="about__menu-item nth-2">
									<div class="about__img">톡카페</div>
									<div class="about__menu-wrap">
										<p class="about__menu-txt">
											카페에서 친구를 만나는 것처럼<br class="hidden-m">
											편안하고 즐거운 메신저<br class="hidden-m">
											나의 프라이버시를<br class="hidden-m">
											지켜주는 똑똑한 톡카페

										</p>
									</div>
								</li>
								<li class="about__menu-item nth-3">
									<div class="about__img">위퍼블</div>
									<div class="about__menu-wrap">
										<p class="about__menu-txt">
											디지털 콘텐츠를<br class="hidden-m">
											만들고 공유하고 즐긴다<br class="hidden-m">
											위퍼블을 통해<br class="hidden-m">
											창작의 즐거움과 공유의 혜택을<br class="hidden-m">
											마음껏 누리세요
										</p>
									</div>
								</li>
								<li class="about__menu-item nth-4">
									<div class="about__img">드림시드</div>
									<div class="about__menu-wrap">
										<p class="about__menu-txt">
											가치 있는 생산, 의미 있는 소비 생산자와 소비자가 모두 수익을 내는 공유형 크라우드 펀딩
										</p>
									</div>
								</li>
								<li class="about__menu-item nth-5">
									<div class="about__img">플렉슬</div>
									<div class="about__menu-wrap">
										<p class="about__menu-txt">
											종이 노트의 아날로그 경험과 디지털의 편리함을 결합한 새로운 디지털 학습 솔루션
										</p>
									</div>
								</li>
							</ul>
							<!-- //2017-03-28수정 -->
						</div>
					</div>
				</div>
				<div class="about__box nth-5">
					<div class="wrap">
						<h2 class="about__tit color1">
							한컴 가평 스마트 생태계란?<br>
							<span class="normal">첨단 기술과 자연환경이 융합된 새로운 개념의 건강 생태계입니다!</span>
						</h2>
						<ul class="about2__list">
							<li class="about2__item nth-1">
								<div class="about2__wrap">
									<h2 class="about2__tit">숨을 쉬는<br> 교육</h2>
									<p class="about2__txt">최신 IT 기술을 기반으로 구축되는 공교육과 사교육에서 경험하지 못한 새로운 미래 교육 생태계</p>
								</div>
							</li>
							<li class="about2__item nth-2">
								<div class="about2__wrap">
									<h2 class="about2__tit">헬스케어 및<br> 건강 생태계</h2>
									<p class="about2__txt">개인의 건강을 실시간으로 진단하고 분석하는 디지털 헬스케어 기반의 건강 생태계</p>
								</div>
							</li>
							<li class="about2__item nth-3">
								<div class="about2__wrap">
									<h2 class="about2__tit">최고의 서비스를<br> 구현하는 실버 생태계</h2>
									<p class="about2__txt">최적화된 한컴 실버 프로그램을 통해 건강에서부터 즐거운 생활까지 모든 것을 제공하는 실버 생태계</p>
								</div>
							</li>
							<li class="about2__item nth-4">
								<div class="about2__wrap">
									<h2 class="about2__tit">편안하고 <br> 아늑한 쉼터 </h2>
									<p class="about2__txt">자연 속에서 삶을 풍요롭게 하는 서비스를 제공받는 주거의 공간</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
