<% include ../_include/_header %>
<div class="content">
	<div class="wrap js-dim">
		<div class="tab-v1" data-tab="true">
			<ul class="tab-v1__list">
				<li class="tab-v1__item is-active"><a href="news.html" class="tab-v1__link" data-title="">뉴스</a></li>
				<li class="tab-v1__item"><a href="sns.html" class="tab-v1__link" data-title="">SNS</a></li>
			</ul>
			<span class="tab-v1__m-tit">뉴스</span>
		</div><!-- //tab-v1 -->
		<div class="content__box">
			<div class="tab-content is-active" id="tab1">
				<div class="content__header type-another">
					<h1 class="content__tit">뉴스</h1>
					<p class="content__header-txt">언론에 보도된 말랑말랑 브랜드 관련 뉴스입니다.</p>
				</div>
				<div class="content__body">
					<ul class="board-magazine-v1">
						<li class="board-magazine-v1__item">
						    <a href="news_view.html" class="board-magazine-v1__link">
						        <div class="board-magazine-v1__txt-wrap">
						            <div class="board-magazine-v1__tit">한컴인터프리 ‘한컴 말랑말랑 지니톡’, 앱 어워드 코리아 2016 올해의 앱 생활서비스 분야 통번역서비스 부문 대상 수상</div>
						            <div class="board-magazine-v1__summary">
										한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고, 다양한 언어와 어순, 의미를
										 스스로 한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고,
									</div>
						        </div>
						    </a>
						</li>
						<li class="board-magazine-v1__item">
						    <a href="news_view.html" class="board-magazine-v1__link">
						        <div class="board-magazine-v1__txt-wrap">
						            <div class="board-magazine-v1__tit">한컴인터프리 ‘한컴 말랑말랑 지니톡’, 앱 어워드 코리아 2016 올해의 앱 생활서비스 분야 통번역서비스 부문 대상 수상</div>
						            <div class="board-magazine-v1__summary">
										한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고, 다양한 언어와 어순, 의미를
										 스스로 한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고,
									</div>
						        </div>
						    </a>
						</li>
						<li class="board-magazine-v1__item">
						    <a href="news_view.html" class="board-magazine-v1__link">
						        <div class="board-magazine-v1__txt-wrap">
						            <div class="board-magazine-v1__tit">한컴인터프리 ‘한컴 말랑말랑 지니톡’, 앱 어워드 코리아 2016 올해의 앱 생활서비스 분야 통번역서비스 부문 대상 수상</div>
						            <div class="board-magazine-v1__summary">
										한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고, 다양한 언어와 어순, 의미를
										 스스로 한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고,
									</div>
						        </div>
						    </a>
						</li>
						<li class="board-magazine-v1__item">
						    <a href="news_view.html" class="board-magazine-v1__link">
						        <div class="board-magazine-v1__txt-wrap">
						            <div class="board-magazine-v1__tit">한컴인터프리 ‘한컴 말랑말랑 지니톡’, 앱 어워드 코리아 2016 올해의 앱 생활서비스 분야 통번역서비스 부문 대상 수상</div>
						            <div class="board-magazine-v1__summary">
										한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고, 다양한 언어와 어순, 의미를
										 스스로 한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고,
									</div>
						        </div>
						    </a>
						</li>
						<li class="board-magazine-v1__item">
						    <a href="news_view.html" class="board-magazine-v1__link">
						        <div class="board-magazine-v1__txt-wrap">
						            <div class="board-magazine-v1__tit">한컴인터프리 ‘한컴 말랑말랑 지니톡’, 앱 어워드 코리아 2016 올해의 앱 생활서비스 분야 통번역서비스 부문 대상 수상</div>
						            <div class="board-magazine-v1__summary">
										한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고, 다양한 언어와 어순, 의미를
										 스스로 한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고,
									</div>
						        </div>
						    </a>
						</li>
					</ul><!-- //board-magazine-v1 -->
					<div class="pagination-v1">
						<div class="pagination-v1__info"><span class="pagination-v1__location">1</span>/10</div>
						<span class="pagination-v1__group pagination-v1__group_prev">
							<a href="#" class="pagination-v1__item pagination-v1__item_home">처음</a>
							<a href="#" class="pagination-v1__item pagination-v1__item_prev">10페이지 이전</a>
							<a href="#" class="pagination-v1__item pagination-v1__item_before">이전</a>
						</span>
						<span class="pagination-v1__group">
							<a href="#" class="pagination-v1__item">1</a>
							<a href="#" class="pagination-v1__item">2</a>
							<a href="#" class="pagination-v1__item on">3</a>
							<a href="#" class="pagination-v1__item">4</a>
							<a href="#" class="pagination-v1__item">5</a>
							<a href="#" class="pagination-v1__item">6</a>
							<a href="#" class="pagination-v1__item">7</a>
							<a href="#" class="pagination-v1__item">8</a>
							<a href="#" class="pagination-v1__item">9</a>
							<a href="#" class="pagination-v1__item">10</a>
						</span>
						<span class="pagination-v1__group pagination-v1__group_next">
							<a href="#" class="pagination-v1__item pagination-v1__item_after">다음</a>
							<a href="#" class="pagination-v1__item pagination-v1__item_next">10페이지 다음</a>
							<a href="#" class="pagination-v1__item pagination-v1__item_end">마지막</a>
						</span>
					</div><!-- //pagination-v1 -->
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
