<% include ../_include/_header %>
<div class="content">
	<div class="wrap js-dim">
		<div class="content__box">
			<div class="content__header">
				<h1 class="content__tit">뉴스</h1>
				<p class="content__header-txt">언론에 보도된 말랑말랑 브랜드 관련 뉴스입니다.</p>
			</div>
			<div class="content__body">
				<div class="board-view">
					<h2 class="board-view__tit">AI번역 서비스 '한컴 말랑말랑 지니톡' 인공신경망번역기술 적용</h2>
					<div class="board-view__box">
						<img src="../../images/common/board_img1.jpg" alt="" class="board-view__img"><br><br>
						<p class="board-view__txt">
							한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. <br><br>

							인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고, 다양한 언어와 어순, 의미를 스스로 학습하는 머신러닝 방식을 통해 실시간 번역 품질 향상을 기대할 수 있다. <br><br>

							한컴은 인공신경망번역기술에 문법기반번역(RBMT)기술을 적용해 사용빈도가 낮은 문장에서 번역 정확도가 떨어지는 인공신경망번역기술의 단점을 보완하는 등 차별화된 기술을 선보인다.<br><br>

							한컴은 '한컴 말랑말랑 지니톡'의 한국어-영어에 인공신경망기술을 적용하고, 2월내 한국어-중국어, 한국어-일본어에도 추가 적용할 계획이라고 밝혔다.<br><br>

							한컴과 한국전자통신연구원(ETRI)이 공동 개발한 '한컴 말랑말랑 지니톡'은 한국어 기반 통번역 서비스를 제공하며, '2018 평창동계올림픽' 공식 번역 소프트웨어로 4만명의 선수들과 기자단, VIP들의 통번역 서비스를 담당한다. 특히 한컴은 퓨처로봇과 함께 '통역하는 안내로봇'을 공동 개발해 올림픽 기간 동안 대한민국 첨단 IT 기술력을 선보일 계획이다.
						</p>
					</div>
				</div>
				<div class="btn-area">
					<div class="btn-area__center">
						<a href="" class="btn-area__list"><span class="btn-area__wrap">목록</span></a>
					</div>
					<a href="" class="btn-area__prev"><span class="btn-area__wrap">이전글</span></a>
					<a href="" class="btn-area__next"><span class="btn-area__wrap">다음글</span></a>
				</div>
			</div><!--content__body-->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
