<% include ../_include/_header %>
<div class="content">
	<div class="wrap js-dim">
		<div class="tab-v1" data-tab="true">
			<ul class="tab-v1__list">
				<li class="tab-v1__item"><a href="news.html" class="tab-v1__link" data-title="">뉴스</a></li>
				<li class="tab-v1__item is-active"><a href="sns.html" class="tab-v1__link" data-title="">SNS</a></li>
			</ul>
			<span class="tab-v1__m-tit">SNS</span>
		</div><!-- //tab-v1 -->
		<div class="content__box">
			<div class="tab-content is-active">
				<div class="content__header type-another">
					<h1 class="content__tit">SNS</h1>
					<p class="content__header-txt">말랑말랑 브랜드의 다양한 소식을 지금 만나보세요!</p>
				</div>
				<div class="content__body">
					<ul class="sns__list type-content">
						<li class="sns__item">
							<div class="sns__wrap">
								<a href="" class="sns__link"></a>
								<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
								<p class="sns__txt">
									한컴그룹 사랑의 김장나눔 봉사활동
									추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자
								</p>
								<p class="sns__date">2016.12.13</p>
							</div>
						</li>
						<li class="sns__item">
							<div class="sns__wrap">
								<a href="" class="sns__link"></a>
								<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
								<p class="sns__txt">
									한컴그룹 사랑의 김장나눔 봉사활동
									추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자
								</p>
								<p class="sns__date">2016.12.13</p>
							</div>
						</li>
						<li class="sns__item">
							<div class="sns__wrap">
								<a href="" class="sns__link"></a>
								<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
								<p class="sns__txt">
									한컴그룹 사랑의 김장나눔 봉사활동
									추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자
								</p>
								<p class="sns__date">2016.12.13</p>
							</div>
						</li>
						<li class="sns__item">
							<div class="sns__wrap">
								<a href="" class="sns__link"></a>
								<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
								<p class="sns__txt">
									한컴그룹 사랑의 김장나눔 봉사활동
									추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자
								</p>
								<p class="sns__date">2016.12.13</p>
							</div>
						</li>
						<li class="sns__item">
							<div class="sns__wrap">
								<a href="" class="sns__link"></a>
								<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
								<p class="sns__txt">
									한컴그룹 사랑의 김장나눔 봉사활동
									추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자
								</p>
								<p class="sns__date">2016.12.13</p>
							</div>
						</li>
						<li class="sns__item">
							<div class="sns__wrap">
								<a href="" class="sns__link"></a>
								<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
								<p class="sns__txt">
									한컴그룹 사랑의 김장나눔 봉사활동
									추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자
								</p>
								<p class="sns__date">2016.12.13</p>
							</div>
						</li>
					</ul>
					<a href="" class="more"><span>더보기</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
