	<div class="footer">
		<!-- <ul class="footer__list">
			<li class="footer__item"><a href="" class="footer__link">개인정보처리방침</a></li>
			<li class="footer__item"><a href="" class="footer__link">이용약관</a></li>
		</ul> -->
		<div class="wrap">
			<ul class="footer__list">
				<li class="footer__item">주소 : 경기도 성남시 분당구 대왕판교로 644번길 49 한컴타워 10층</li><br class="mobile type-another">
				<li class="footer__item">기술지원센터 (평일 9시-18시) 1566-5192</li><br class="mobile">
				<li class="footer__item">대표전화 : 031-627-7000</li>
				<li class="footer__item">국내고객 : 1566-5192</li>
			</ul>
			<ul class="footer__list type-another">
				<li class="footer__item">사업자등록번호 107-81-52230</li>
				<li class="footer__item">대표자 : 김상철, 이원필 </li>
			</ul>
			<ul class="footer__list">
				<li class="footer__item type-block">Copyrights &copy; Hancom Inc. All rights reserved.</li>
			</ul>
		</div>
	</div>
</body>
</html>
