<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<title>말랑말랑</title>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.bxslider.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.event.drag-1.5.1.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.touchSlider.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/main.js"></script>
<link rel="stylesheet" href="../../css/libs/jquery.fullPage.css">
<link rel="stylesheet" href="../../css/libs/normalize.css">
<link rel="stylesheet" href="../../css/libs/jquery.bxslider.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.css">
<link rel="stylesheet" href="../../css/common.css">
<link rel="stylesheet" href="../../css/main.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/libs/jquery.selectBoxIt.css">
</head>
<body>
	<div class="header">
		<div class="wrap">
			<h1 class="logo"><a href="../main/main.html"><img src="../../images/main/logo.png" alt="말랑말랑"></a></h1>
			<div class="gnb" id="gnb">
				<h2 class="gnb__tit"><span>주메뉴</span></h2>
				<a href="" class="gnb__menu-quick js-quick"></a>
				<ul class="gnb__depth1-list">
					<li class="gnb__menu">
						<div class="gnb__menu-wrap">
							<a href="" class="gnb__menu-close">close</a>
							<a href="" class="gnb__menu-global is-active">KR</a>
							<a href="" class="gnb__menu-global">EN</a>
						</div>
					</li>
					<li class="gnb__depth1-item nth-1">
						<a href="../about/about.html" class="gnb__depth1-link">말랑말랑 소개</a>
						<ul class="gnb__depth2-list">
							<li class="gnb__depth2-item nth-1">
								<a href="../about/about.html" class="gnb__depth2-link disabled">말랑말랑 이야기</a>
							</li>
						</ul>
					</li>
					<li class="gnb__depth1-item nth-2" data-title-en="Reference Room">
						<a href="../prod/prod_01.html" class="gnb__depth1-link">제품 및 서비스</a>
						<ul class="gnb__depth2-list">
							<li class="gnb__depth2-item nth-1">
								<a href="../prod/prod_01.html" class="gnb__depth2-link disabled">지니톡</a>
							</li>
							<!-- <li class="gnb__depth2-item nth-2"><a href="../prod/prod_02.html" class="gnb__depth2-link disabled">지니톡 VOICE</a></li>
							<li class="gnb__depth2-item nth-2"><a href="../prod/prod_03.html" class="gnb__depth2-link disabled">지니톡 TEXT</a></li>
							<li class="gnb__depth2-item nth-2"><a href="../prod/prod_04.html" class="gnb__depth2-link disabled">지니 EDU</a></li> -->
							<li class="gnb__depth2-item nth-2"><a href="../prod/prod_02.html" class="gnb__depth2-link disabled">톡카페</a></li>
							<li class="gnb__depth2-item nth-2"><a href="../prod/prod_03.html" class="gnb__depth2-link disabled">위퍼블</a></li>
							<li class="gnb__depth2-item nth-2"><a href="../prod/prod_04.html" class="gnb__depth2-link disabled">드림시드</a></li>
							<li class="gnb__depth2-item nth-2"><a href="../prod/prod_05.html" class="gnb__depth2-link disabled">플렉슬</a></li>
						</ul>
					</li>
					<li class="gnb__depth1-item nth-3">
						<a href="../news/news.html" class="gnb__depth1-link">뉴스 &amp; SNS</a>
						<ul class="gnb__depth2-list news">
							<li class="gnb__depth2-item">
								<a href="../news/news.html" class="gnb__depth2-link disabled">뉴스</a>
							</li>
							<li class="gnb__depth2-item">
								<a href="../news/sns.html" class="gnb__depth2-link disabled">SNS</a>
							</li>
						</ul>
					</li>
					<li class="gnb__depth1-item nth-4">
						<a href="../event/event.html" class="gnb__depth1-link">이벤트</a>
						<ul class="gnb__depth2-list faq">
							<li class="gnb__depth2-item nth-1"><a href="../event/event.html" class="gnb__depth2-link disabled">이벤트</a></li>
						</ul>
					</li>
				</ul>
				<!-- <a href="" class="search__btn js-search-open">검색</a> -->
			</div><!-- //gnb -->
			<div class="quick">
				<div class="wrap">
					<a href="" class="quick__close js-close">닫기</a>
					<ul class="quick__list">
						<li class="quick__item"><a href="" class="quick__link"><img src="../../images/common/quick-menu_icon1.png" alt="GenieTalk"></a></li>
						<li class="quick__item"><a href="" class="quick__link"><img src="../../images/common/quick-menu_icon2.png" alt="Talkafe"></a></li>
						<li class="quick__item"><a href="" class="quick__link"><img src="../../images/common/quick-menu_icon3.png" alt="Wepubl"></a></li>
						<li class="quick__item"><a href="" class="quick__link"><img src="../../images/common/quick-menu_icon4.png" alt="DreamSead"></a></li>
						<li class="quick__item"><a href="" class="quick__link"><img src="../../images/common/quick-menu_icon5.png" alt="Flexcil"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="dim"></div>
	</div>
