<% include ../_include/_header %>
<div class="content">
	<div class="js-dim">
		<div class="wrap">
			<div class="tab-v1 type-another" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item"><a href="prod_01.html" class="tab-v1__link" data-title="">지니톡</a></li>
					<li class="tab-v1__item"><a href="prod_02.html" class="tab-v1__link" data-title="">톡카페</a></li>
					<li class="tab-v1__item"><a href="prod_03.html" class="tab-v1__link" data-title="">위퍼블</a></li>
					<li class="tab-v1__item is-active"><a href="prod_04.html" class="tab-v1__link" data-title="">드림시드</a></li>
					<li class="tab-v1__item"><a href="prod_05.html" class="tab-v1__link" data-title="">플렉슬</a></li>
				</ul>
				<span class="tab-v1__m-tit">드림시드</span>
			</div>
		</div>
		<div class="content__box">
			<div class="tab-content is-active type-another">
				<div class="content__body type-another">
					<div class="prod__box nth-4-1 type-header">
						<div class="prod__box-wrap type-img type-480">
							<div class="prod__bg">비쥬얼영역</div>
						</div>
						<div class="wrap">
							<h1 class="content__tit hidden-m">드림 시드</h1>
							<p class="prod__img-tit nth-4"><img src="../../images/prod/dream_tit.png" alt="드림시드"></p>
							<h2 class="prod__tit">의미 있는 생산, 가치 있는 소비를<br class="hidden-m"> 지향하는 종합 크라우드펀딩 플랫폼<br class="hidden-m"> 드림시드입니다</h2>
							<a href="https://www.dreamsead.com" class="prod__btn type-another type-dream" target="_blank">
								<span>자세히보기<i class="fa fa-external-link"></i></span>
							</a>
						</div>
					</div>
					<div class="prod__box nth-4-2">
						<div class="prod__box-wrap type-img type-424">
							<div class="prod__bg">드림시드</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap">
								<div class="prod__box-wrap2">
									<!-- 2017-03-28수정 -->
									<h3 class="prod__cont-tit">기금형 크라우드펀딩</h3>
									<p class="prod__txt color1 type-fs13">
										기금형 크라우드펀딩은 드림시드에서 최초로 시도하는 크라우드펀딩 입니다.<br class="hidden-m">
										여행계, 생일계 등 계모임 문화에서 착안하여 온라인 상에서 계모임을 할 수 있도록 만들었습니다.
										개인이 모여 목적성 자금을 마련하거나, 마련된 자금을 특정 목적으로<br class="hidden-m"> 사용할 수 있습니다.
										오프라인 계모임 보다 투명하고 안정적으로 기금을 형성할 수 있도록 드림시드가 도와드리겠습니다.
									</p>
									<h3 class="prod__cont-tit">후원형 크라우드펀딩​</h3>
									<p class="prod__txt color1 type-fs13">
										후원형 크라우드펀딩은 뚜렷한 아이디어는 있는데 자금의 부족으로 양산에 들어가지 못한 스타트업과 중소기업에게 자금을 후원하고,
										그 대신 리워드(보상품)를 돌려받는 형태의 크라우드펀딩 입니다.
										드림시드는 후원자가 의미 있는 소비를 할 수 있도록 가치 있는 프로젝트를 소개합니다.
									</p>
									<!-- //2017-03-28수정 -->
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-4-3">
						<div class="prod__box-wrap type-img type-400">
							<div class="prod__bg">1. 회원가입</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-left type-min"><!-- 2017-03-28수정 -->
								<div class="prod__box-wrap2">
									<h3 class="prod__sub-tit type-num nth-1">회원가입</h3>
									<h4 class="prod__cont-sub">드림시드에 가입하세요</h4>
									<p class="prod__txt type-fs13 type-m20">
										드림시드 회원가입은 무료입니다. <br>
										드림시드를 통해서 새로 등록된 계모임과 프로젝트 아이디어에 대한 정보들을 받아보세요.<br><br>
										회원으로 가입을 하시면 직접 펀딩에 참여하지 않아도<br class="hidden-m">
										SNS를 통해 홍보하기, 프로젝트 페이지에서 ‘좋아요‘ 누르기를 통해서 프로젝트가 성공할 수 있도록 응원할 수 있습니다.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-4-4">
						<div class="prod__box-wrap type-img type-400">
							<div class="prod__bg">프로젝트에 참여하기</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-min"><!-- 2017-03-28수정 -->
								<div class="prod__box-wrap2">
									<h3 class="prod__sub-tit type-num nth-2">프로젝트에 참여하기</h3>
									<h4 class="prod__cont-sub">마음에 드는 프로젝트에 참여해 보세요</h4>
									<p class="prod__txt type-fs13 type-m50">
										여러분들이 사고 싶고 소비하고 싶은 프로젝트를 후원을 통해 참여하실 수도 있습니다.<br class="hidden-m">
										프로젝트 소개를 읽어보고 마음에 들고 후원해보고 싶은 생각이 들면 마음껏 후원해 주세요.<br class="hidden-m">
										여러분의 소중한 후원이 꿈을 이루고자 하는 사람들에게 날개를 달아 줄 수 있습니다.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-4-5">
						<div class="prod__box-wrap type-img type-400">
							<div class="prod__bg">3. 내 프로젝트 만들기</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-left type-min"><!-- 2017-03-28수정 -->
								<!-- 2017-03-28수정 -->
								<div class="prod__box-wrap2">
									<h3 class="prod__sub-tit type-num nth-3">내 프로젝트 만들기</h3>
									<h4 class="prod__cont-sub">
										기금형 크라우드펀딩
										<span class="prod__cont-span">오프라인의 계모임이 온라인으로!</span>
									</h4>
									<p class="prod__txt type-fs13 type-m20">
										기금형(계)의 총무나 운영진이 되어 기금 관리에 도전해 보세요!<br class="hidden-m">
										드림시드는 여헹계, 생일계 처럼 기금을 모으고 싶으신 분들의 참여를 기다립니다.
									</p>
									<h4 class="prod__cont-sub">후원형 크라우드펀딩​
										<span class="prod__cont-span">여러분의 꿈을 후원합니다!</span>
									</h4>
									<p class="prod__txt type-fs13 type-m20">
										자신만의 브랜드를 만들고 싶거나,<br class="hidden-m"> 아이디어는 좋은데 실현시킬 여건이 되지 않는다면, <br class="hidden-m">
										누구나 드림시드 크라우드펀딩의 주인공이 될 수 있습니다. 
									</p>
								</div>
								<!-- //2017-03-28수정 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
