<% include ../_include/_header %>
<div class="content">
	<div class="js-dim">
		<div class="wrap">
			<div class="tab-v1 type-another" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item"><a href="prod_01.html" class="tab-v1__link" data-title="">지니톡</a></li>
					<li class="tab-v1__item"><a href="prod_02.html" class="tab-v1__link" data-title="">톡카페</a></li>
					<li class="tab-v1__item"><a href="prod_03.html" class="tab-v1__link" data-title="">위퍼블</a></li>
					<li class="tab-v1__item"><a href="prod_04.html" class="tab-v1__link" data-title="">드림시드</a></li>
					<li class="tab-v1__item is-active"><a href="prod_05.html" class="tab-v1__link" data-title="">플렉슬</a></li>
				</ul>
				<span class="tab-v1__m-tit">플렉슬</span>
			</div>
		</div>
		<div class="content__box">
			<div class="tab-content is-active type-another">
				<div class="content__body type-another">
					<div class="prod__box nth-5-1 type-header">
						<div class="prod__box-wrap type-img type-480">
							<div class="prod__bg">비쥬얼영역</div>
						</div>
						<div class="wrap">
							<h1 class="content__tit hidden-m">플렉슬</h1>
							<p class="prod__img-tit nth-5"><img src="../../images/prod/flexcil_tit.png" alt="플렉슬"></p>
							<h2 class="prod__tit">책을 보고 노트에 필기하는 아날로그<br class="hidden-m"> 경험을 그대로 디지털로 옮겨와, 더욱<br class="hidden-m">  편리한 학습환경을 제공합니다</h2>
							<a href="" class="prod__btn type-another type-flexcil" target="_blank">
								<span>자세히보기<i class="fa fa-external-link"></i></span>
							</a>
						</div>
					</div>
					<div class="prod__box nth-2 type-flexcil type-two">
						<div class="wrap">
							<h3 class="prod__sub-tit type-another">지금 무료로 다운로드 받으세요!</h3>
							<p class="prod__txt hidden-m">쉽게 모바일 앱을 설치하실 수 있습니다.</p>
							<ul class="prod-v2__list">
								<li class="prod-v2__item nth-1"><a href="" class="prod-v2__link" target="_blank"><span>GoolePlay</span></a></li>
								<li class="prod-v2__item nth-2"><a href="" class="prod-v2__link" target="_blank"><span>App Store</span></a></li>
							</ul>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-5-2">
						<div class="wrap">
							<div class="prod__box-wrap type-min2">
								<div class="prod__box-wrap2">
									<h3 class="prod__cont-tit type-green">디지털 학습 솔루션 플렉슬</h3>
									<h4 class="prod__cont-sub">종이처럼 쉬운, 그러나 종이보다 편리한</h4>
									<div class="prod__box-wrap type-img type-580">
										<div class="prod__bg">디지털 학습 솔루션 플렉슬</div>
									</div>
									<p class="prod__txt type-fs13 type-m40">
										플렉슬은 전자책 리더와 디지털 노트의 장점만을 결합한 태블릿과 클라우드 기반의 학습 서비스입니다.<br><br>
										당신이 종이책을 보고, 필기하고, 노트에 정리하는 일련의 학습 과정을 디지털 환경에서 보다 손쉽고 간편하게 할 수 있도록 지원합니다.<br><br>
										또한 인터넷과 동기화되는 노트를 통해 당신이 정리한 노트를 기기 및 플랫폼에 관계 없이 언제 어디서든 볼수 있고, 다른사람과 공유하고, 같이 학습할 수 있습니다.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-5-3">
						<div class="prod__box-wrap type-img type-538">
							<div class="prod__bg">제스처</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-left type-min type-60r">
								<div class="prod__box-wrap2">
									<img src="../../images/prod/box5_pen.jpg" alt="펜 아이콘" class="hidden-m">
									<h3 class="prod__cont-sub color5">제스처 펜과 커스텀 펜 네비게이션</h3>
									<p class="prod__txt type-fs13">
										시간이 지나면 사라지는 제스처 펜은, 터치 오동작을 방지하며, 밑줄,​ 동그라미, 괄호 등 다양한 제스처 조작을 지원함​
										사용자가 원하는 설정의 펜을 간단하게 추가하는 커스텀 펜 기능으로 원하는 펜을 편리하게 사용 가능​
									</p>
									<h3 class="prod__cont-sub color5">전자책 뷰어</h3>
									<p class="prod__txt type-fs13">
										전자문서 보존 형식의 세계 표준이며, 전 세계적으로 가장 많이 활용되는
										PDF를 보고 필기할 수 있는 뷰어를 제공
										호환성 높고 빠른 문서 렌더링은 물론, 하이라이트, 필기, 세필모드 등 강력한 콘텐츠 보기 기능을 제공
									</p>
									<h3 class="prod__cont-sub color5">팝업 노트</h3>
									<p class="prod__txt type-fs13">
										노트와 독립적으로 동작하며, 유기적으로 연동되는 팝업 노트를 제공
										콘텐츠의 핵심 내용을 Drag&amp;Drop으로 쉽게 정리하고 체계적으로 관리하며, 하이라이트, 필기, 세필모드 등 강력한 필기 기능을 제공
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-5-4">
						<div class="wrap">
							<div class="prod-v4 type-green">
								<ul class="prod-v4__list">
									<li class="prod-v4__item nth-1">
										<div class="prod-v4__wrap">
											<h3 class="prod-v4__tit">뛰어난 터치 오동작 방지</h3>
											<p class="prod-v4__txt">
												SW 적으로 펜과 손가락, 손바닥 등을 거의 완벽하게 가려내는 터치 오동작 방지 기능을 지원합니다.
												태블릿 기기의 오동작을 염려하여 조심스럽게 기기를 만지거나,
												손바닥 등을 떼고 사용할 필요 없이, 종이에 필기하듯 자연스럽게 사용할 수 있습니다.
											</p>
										</div>
									</li>
									<li class="prod-v4__item nth-2">
										<div class="prod-v4__wrap">
											<h3 class="prod-v4__tit">제스처를 통한 혁신적인 모바일</h3>
											<p class="prod-v4__txt">
												UX 기존의 단계가 많고 복잡한 모바일 조작환경을, 쉽고
												간결하게, 완전히 새로운 방식으로 설계하였습니다.​
												밑줄과 동그라미를 통해 하이라이트와 사전 검색을 하고​
												Drag&amp;Drop 제스처를 통해 쉽고 빠르게 복사 붙여넣기를
												할 수 있습니다.​
											</p>
										</div>
									</li>
									<li class="prod-v4__item nth-3">
										<div class="prod-v4__wrap">
											<h3 class="prod-v4__tit">책과 노트의 유기적인 결합</h3>
											<p class="prod-v4__txt">
												전자책 리더와 노트가 유기적으로 통합되어 독립된 구조로
												동작합니다.
												노트와 책을 동시에 보고 정리하며 공부하는 경험을 제공하며,
												핵심 내용을 정리할 때 언제든 노트를 불러와 사용자가 정리한
												정보들을 체계적으로 관리할 수 있습니다.
											</p>
										</div>
									</li>
									<li class="prod-v4__item nth-4">
										<div class="prod-v4__wrap">
											<h3 class="prod-v4__tit">클라우드 동기화 및 관리</h3>
											<p class="prod-v4__txt">
												인터넷을 통해 실시간으로 작성된 노트 및 콘텐츠가
												동기화됩니다.
												언제 어디서든, 기기와 플랫폼 관계없이 작성한 노트를
												보고 공부할 수 있으며, 다른 사람들과 같이 공유하고
												학습할 수 있습니다.
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
