<% include ../_include/_header %>
<div class="content">
	<div class="js-dim">
		<div class="wrap">
			<div class="tab-v1 type-another" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="prod_01.html" class="tab-v1__link" data-title="">지니톡</a></li>
					<li class="tab-v1__item"><a href="prod_02.html" class="tab-v1__link" data-title="">톡카페</a></li>
					<li class="tab-v1__item"><a href="prod_03.html" class="tab-v1__link" data-title="">위퍼블</a></li>
					<li class="tab-v1__item"><a href="prod_04.html" class="tab-v1__link" data-title="">드림시드</a></li>
					<li class="tab-v1__item"><a href="prod_05.html" class="tab-v1__link" data-title="">플렉슬</a></li>
				</ul>
				<span class="tab-v1__m-tit">지니톡</span>
			</div>
		</div>
	</div>
		<div class="content__box">
			<div class="tab-content is-active type-another">
				<div class="content__body type-another">
					<div class="prod__box nth-1 type-header">
						<div class="prod__box-wrap type-img type-480">
							<div class="prod__bg">비쥬얼영역</div>
						</div>
						<div class="wrap">
							<h1 class="content__tit hidden-m type-m">지니톡</h1>
							<p class="prod__img-tit nth-1"><img src="../../images/prod/genietalk_tit.png" alt="지니톡"></p>
							<h2 class="prod__tit">지니톡만 있으면,<br> 외국인이 전혀 두렵지 않아요</h2>
							<ul class="prod-v1__list">
								<li class="prod-v1__item nth-1"><a href="http://www.interfree.com/if/productService/genieApp.do" target="_blank" class="prod-v1__link"><span class="prod-v1__wrap">지니톡 홈페이지<i class="fa fa-home"></i></span></a></li><!-- 2017-03-28수정 -->
								<!-- <li class="prod-v1__item nth-2"><a href="" class="prod-v1__link"><span class="prod-v1__wrap"><i class="fa fa-youtube-play"></i>동영상 <span class="hidden-m">보기</span></a></span></li> -->
								<li class="prod-v1__item nth-3"><a href="https://webview.wepubl.com/_reader/pdf/web/viewer.html?file=https%3A%2F%2Fwww.wepubl.com%2Freader%2Fdown%2F9c06eba0-2b6a-49f9-adc7-e6fb738785fd.pdf&acode=F25E5G&rpath=https%3A%2F%2Fwww.wepubl.com%2Freader&_v=1490157966896&_p=0" class="prod-v1__link"><span class="prod-v1__wrap">사용자 매뉴얼<i class="fa fa-file-text"></i></span></a></li>
							</ul>
						</div>
					</div>
					<div class="prod__box nth-2">
						<div class="wrap">
							<h3 class="prod__sub-tit type-another">지금 무료로 다운로드 받으세요!</h3>
							<p class="prod__txt hidden-m">무료 전화통화 한번에<br class="mobile"> 쉽게 모바일 앱을 설치하실 수 있습니다.</p>
							<ul class="prod-v2__list">
								<li class="prod-v2__item nth-1"><a href="https://play.google.com/store/apps/details?id=com.hancom.interfree.genietalk" class="prod-v2__link"><span>GoolePlay</span></a></li>
								<li class="prod-v2__item nth-2"><a href="https://itunes.apple.com/kr/app/wau!-jinitog-wow!-genietalk/id1104930501?mt=8" class="prod-v2__link"><span>App Store</span></a></li>
								<li class="prod-v2__item nth-3"><a href="" class="prod-v2__link"><span>통화 한번으로 앱 설치! - 1670-4772</span></a></li>
								<li class="prod-v2__item nth-4"><a href="" class="prod-v2__link"><span>QR code execution - QR코드</span></a></li>
							</ul>
						</div>
					</div>
					<div class="prod__box nth-3">
						<ul class="genie__list genie__slider1">
							<li class="genie__item nth-1 js-slide-1">
								<div class="prod__box-wrap type-img">
									<div class="prod__bg">지니톡앱</div>
								</div>
								<div class="wrap">
									<div class="prod__box-wrap">
										<div class="prod__box-wrap2">
											<p class="prod__img-tit2">지니톡</p>
											<p class="prod__txt type-another">
												전 세계인과 자유로운 커뮤니케이션을 가능케 하는 한컴의 음성인식 자동통역기 입니다.<br class="hidden-m"><br class="hidden-m">
												세계최고 수준의  음성인식 통역&middot;번역을 자랑하는 지니톡은 해외여행, 외국어 학습, 다양한 국제행사 공식 통역기로도 사용됩니다.<br><br><!--2017-03-27수정-->
												한국어 &harr; 중국어, 일본어, 영어, 스페인어, 프랑스어, 러시아어 (추후 언어추가예정)
											</p>
											<a href="http://www.interfree.com/if/productService/genieApp.do" class="prod__btn" target="_blank">
												<span>자세히보기<i class="fa fa-external-link"></i></span>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="genie__item nth-2 js-slide-1">
								<div class="prod__box-wrap type-img">
									<div class="prod__bg">지니톡 오프라인</div>
								</div>
								<div class="wrap">
									<div class="prod__box-wrap">
										<div class="prod__box-wrap2">
											<p class="prod__img-tit2">지니톡 오프라인</p>
											<p class="prod__txt type-another">
												지니톡 오프라인은 인터넷이 되지 않는 환경에서 사용할 수 있는 지니톡 단말기 OTG-USB 타입입니다.
												인터넷이 안되는 환경에서 사용하던 지니톡 앱에 지니톡 오프라인만 연결하면<br class="hidden-m">
												바로 음성인식 통역·번역이 가능합니다.<br class="hidden-m">
												2017년 출시예정<br><br>
												한국어 ↔ 중국어, 일본어, 영어 (추후 언어추가예정)
											</p>
											<a href="http://www.interfree.com/if/productService/genieOffline.do" class="prod__btn" target="_blank">
												<span>자세히보기<i class="fa fa-external-link"></i></span>
											</a>
											<!-- <a href="" class="prod__btn type-user">
												<span>사용자 매뉴얼<i class="fa fa-file-text"></i></span>
											</a> -->
										</div>
									</div>
								</div>
							</li>
							<li class="genie__item nth-3 js-slide-1">
								<div class="prod__box-wrap type-img">
									<div class="prod__bg">지니톡 페어</div>
								</div>
								<div class="wrap">
									<div class="prod__box-wrap">
										<div class="prod__box-wrap2">
											<p class="prod__img-tit2">지니톡 페어</p>
											<p class="prod__txt type-another">
												지니톡 페어는 인터넷이 되지 않는 환경에서 사용할 수 있는 지니톡 단말기
												외장 하드 타입입니다.
												스마트폰과 지니톡 페어를 블루투스로 쉽게 연결하여 다양한 언어로 여러 명이 커뮤니케이션할 수 있습니다.<br class="hidden-m">
												2017년 출시예정<br><br>
												한국어 ↔ 중국어, 일본어, 영어 (추후 언어추가예정)
											</p>
											<a href="http://www.interfree.com/if/productService/geniePair.do" class="prod__btn" target="_blank">
												<span>자세히보기<i class="fa fa-external-link"></i></span>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="genie__item nth-4 js-slide-1">
								<div class="prod__box-wrap type-img">
									<div class="prod__bg">지니톡 웨어러블</div>
								</div>
								<div class="wrap">
									<div class="prod__box-wrap">
										<div class="prod__box-wrap2">
											<p class="prod__img-tit2">지니톡 웨어러블</p>
											<p class="prod__txt type-another">
												지니톡 웨어러블은 넥밴드형, 이어폰형, 목걸이형, 스마트워치형 등 순차적으로 출시될 예정입니다.
												웨어러블을 착용한 상대와 별도의 액션 없이 자연스럽게 대화할 수 있으며 기본으로 설정된 모국어로 자동 통역해줍니다.<br class="hidden-m">
												2017년 출시예정
											</p>
											<p class="prod__txt type-another">
												한국어 ↔ 중국어, 일본어, 영어 (추후 언어추가예정)
											</p>
											<a href="http://www.interfree.com/if/productService/genieWearable.do" class="prod__btn" target="_blank">
												<span>자세히보기<i class="fa fa-external-link"></i></span>
											</a>
										</div>
									</div>
								</div>
							</li>
						</ul><!-- //genie__list-->
						<div class="page">
							<div class="page__list page__list-prod1"></div>
							<div class="page__start page__start-prod1"></div>
						</div>
					</div>
					<div class="prod__box nth-4">
						<div class="prod__box-wrap type-img">
							<div class="prod__bg">지니톡 ASR</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-left">
								<div class="prod__box-wrap2">
									<p class="prod__img-tit2">지니톡 ASR</p>
									<h3 class="prod__box-tit">음성 인식기술<span>(Automatic Speech Translation)</span></h3>
									<!-- 2017-03-28수정 -->
									<p class="prod__txt type-another color4">
										인간의 음성을 분석하여 텍스트로 변환하는 음성인식 기술은 IoT, 로봇, 홈, 오토메이션 인공지능 플랫폼 등 ‘4차산업 혁명’을 주도하는 기술의 주요 휴먼 인터페이스 기술로 주목 받고 있습니다. 한컴이 가지고 있는 다양한 핵심 음성 인식 기술로 고객사 서비스의 부가가치 창출, 사용자 확대, 서비스 품질 향상 등의 효과를 거둘 수 있습니다.<br><br>
										한국어, 일본어, 영어, 중국어, 스페인어, 독일어, 러시아, 프랑스어 제공
									</p>
									<a href="http://www.interfree.com/if/productService/genieAsr.do" class="prod__btn type-another" target="_blank">
										<span>자세히보기<i class="fa fa-external-link"></i></span>
									</a>
									<!-- //2017-03-28수정 -->
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-3">
						<ul class="genie__list genie__slider2">
							<li class="genie__item nth-2-1 js-slide-2">
								<div class="prod__box-wrap type-img">
									<div class="prod__bg">지니 트랜스 클라우드</div>
								</div>
								<div class="wrap">
									<div class="prod__box-wrap">
										<div class="prod__box-wrap2">
											<p class="prod__img-tit2">지니 트랜스 클라우드</p>
											<h3 class="prod__box-tit type-another">다국어 자동 번역<span class="hidden-m">(Multilingual Machine Translation)</span></h3>
											<p class="prod__txt type-another">
												한컴의 자동번역기술과 우수한 자연어처리 기술을 클라우드 플랫폼 기반 Open API로 제공하는 API 서비스 플랫폼입니다.
												개발자는 웹 환경, 일반 애플리케이션, 안드로이드 및 iOS 상에서 자연어처리 기능을 구현하여 비즈니스 요구에 맞는 다양한 제품을 구현할 수 있습니다.<br><br>
												총 150개의 언어쌍 지원 및 중간번역을 통하여 1,640개 언어 지원<!-- 2017-03-28수정 -->
											</p>
											<a href="http://www.interfree.com/if/productService/transCloud.do" class="prod__btn" target="_blank">
												<span>자세히보기<i class="fa fa-external-link"></i></span>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="genie__item nth-2-2 js-slide-2">
								<div class="prod__box-wrap type-img">
									<div class="prod__bg">지니트랜스 엔터프라이즈</div>
								</div>
								<div class="wrap">
									<div class="prod__box-wrap">
										<div class="prod__box-wrap2">
											<p class="prod__img-tit2">지니트랜스 엔터프라이즈</p>
											<h3 class="prod__box-tit type-another">
												기업전용 다국어 자동번역 솔루션<br>
												<span class="hidden-m">(Multilingual Machine Translation solution for Enterprise)</span>
											</h3>
											<p class="prod__txt type-another">
												기업의 번역요구사항을 충족시킬 수 있는 전 세계 유일의 종합 번역 솔루션입니다.
												한컴의 언어처리 및 인공지능 노하우가 축적된 규칙기반(RBMT), 통계기반(SMT) 그리고 신경망 기반(HNMT))의 번역이 갖는 장점들을 통합한 하이브리드 기계 번역 엔진을 탑재하여 품질, 비용효과, 생산성 측면에서 도입 기업의 기대치를 충족시킵니다.<br><br>
												총 150개의 신규 언어쌍 지원(베트남어, 히브리어, 인도네아어 등)<!-- 2017-03-28수정 -->
											</p>
											<a href="http://www.interfree.com/if/productService/transEnterprise.do" class="prod__btn" target="_blank">
												<span>자세히보기<i class="fa fa-external-link"></i></span>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="genie__item nth-2-3 js-slide-2">
								<div class="prod__box-wrap type-img">
									<div class="prod__bg">지니톡 페어</div>
								</div>
								<div class="wrap">
									<div class="prod__box-wrap">
										<div class="prod__box-wrap2">
											<p class="prod__img-tit2">지니 엔터프라이즈</p>
											<p class="prod__txt type-another">
												지니트랜드 웹플랫폼 서비스는 Web에서 텍스트·파일·전문가 번역 서비스를 제공합니다.
												한국어 기준 9개국의 다른 언어 간 단어, 구문, 웹페이지 등을 즉시 번역하고 올린 파일의 포맷을 유지한 채 번역을 제공합니다.
												또한, 전문가 번역가 집단 및 번역 업체와 연계하여  높은 전문 번역 서비스를 제공합니다.<br><br>
												한국어 ↔ 영어, 일본어, 중국어, 스페인어, 독일어, 러시아어, 아랍어, 포르투갈어, 포르투갈(브라질)어
											</p>
											<a href="" class="prod__btn" target="_blank">
												<span>자세히보기<i class="fa fa-external-link"></i></span>
											</a>
										</div>
									</div>
								</div>
							</li>
						</ul><!-- //genie__list-->
						<div class="page">
							<div class="page__list page__list-prod2"></div>
							<div class="page__start page__start-prod2"></div>
						</div>
					</div>
					<div class="prod__box nth-6">
						<div class="prod__box-wrap type-img">
							<div class="prod__bg">지니톡 EDU</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-left">
								<div class="prod__box-wrap2">
									<p class="prod__img-tit2">지니톡 EDU</p>
									<p class="prod__txt type-another color4">
										지니톡 에듀는 말하기 학습에 중점을 둔 외국어 교육솔루션 서비스입니다.<br class="hidden-m">
										말하기 학습을 통해 사용자의 발음 정확도 측정 및 피드백을 통해 한국인이 취약한 발음에 대해 훈련을 할 수 있습니다.<br>
										지니톡 에듀는 세계 최초의 대화 음성인터페이스 학습 시스템으로 다양한 표현과 콘텐츠 연계학습을 통하여 자신 있는 외국어 말하기가 가능하게 합니다.
									</p>
									<a href="http://www.interfree.com/if/productService/genieTutor.do" class="prod__btn type-another" target="_blank">
										<span>자세히보기<i class="fa fa-external-link"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
