<% include ../_include/_header %>
<div class="content">
	<div class="video">
		<div class="video__vertical">
			<div class="video__box">
				<div class="video__wrap">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/U4FdOlDp9QA" title="홍보영상" frameborder="0" class="youFrame"></iframe>
				</div>
				<a href="" class="video__close">닫기</a>
			</div>
		</div>
	</div>
	<div class="js-dim">
		<div class="wrap">
			<div class="tab-v1 type-another" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item"><a href="prod_01.html" class="tab-v1__link" data-title="">지니톡</a></li>
					<li class="tab-v1__item"><a href="prod_02.html" class="tab-v1__link" data-title="">톡카페</a></li>
					<li class="tab-v1__item is-active"><a href="prod_03.html" class="tab-v1__link" data-title="">위퍼블</a></li>
					<li class="tab-v1__item"><a href="prod_04.html" class="tab-v1__link" data-title="">드림시드</a></li>
					<li class="tab-v1__item"><a href="prod_05.html" class="tab-v1__link" data-title="">플렉슬</a></li>
				</ul>
				<span class="tab-v1__m-tit">위퍼블</span>
			</div>
		</div>
		<div class="content__box">
			<div class="tab-content is-active type-another">
				<div class="content__body type-another">
					<div class="prod__box nth-3-1 type-header">
						<div class="prod__box-wrap type-img type-480">
							<div class="prod__bg">비쥬얼영역</div>
						</div>
						<div class="wrap">
							<h1 class="content__tit hidden-m">위퍼블</h1>
							<p class="prod__img-tit nth-3"><img src="../../images/prod/wepubl_tit.png" alt="위퍼블"></p>
							<h2 class="prod__tit">
								전문가의 도움없이 나만의 전자책을<br class="hidden-m">
								만들고, 클라우드에 올려 출판하고,<br class="hidden-m">
								SNS로 쉽게 배포할 수 있습니다
							</h2>
							<a href="" class="prod__btn type-another type-wepubl" target="_blank">
								<span>자세히보기<i class="fa fa-external-link"></i></span>
							</a>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2 type-wepubl type-two">
						<div class="wrap">
							<h3 class="prod__sub-tit type-another">지금 무료로 다운로드 받으세요!</h3>
							<p class="prod__txt hidden-m">쉽게 모바일 앱을 설치하실 수 있습니다.</p>
							<ul class="prod-v2__list">
								<li class="prod-v2__item nth-1"><a href="https://play.google.com/store/apps/details?id=com.hancomm.wepubl" class="prod-v2__link" target="_blank"><span>GoolePlay</span></a></li>
								<li class="prod-v2__item nth-2"><a href="https://itunes.apple.com/kr/app/id1068753400?mt=8" class="prod-v2__link" target="_blank"><span>App Store</span></a></li>
							</ul>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-3-3">
						<div class="wrap">
							<div class="prod__box-wrap">
								<div class="prod__box-wrap2">
									<h3 class="prod__cont-tit">동영상은 유튜브, 전자책은 위퍼블</h3>
									<p class="prod__txt type-fs13 color1">
										위퍼블을 통해 누구나 자유롭게 전자책을 만들고, 자신의 개인 전자책 서점을 만들 수 있습니다. 그러나 단순한 온라인 서점이 아닙니다. 유튜브가 온라인 동영상 배포의 플랫폼인것처럼, 위퍼블은 전자책 배포의 플랫폼입니다. 여러분의 전자책을 독자들에게 다양한 방법으로 직접 전달하세요.
									</p>
									<ul class="prod-v1__list">
										<li class="prod-v1__item nth-2"><a href="" class="prod-v1__link-v2 js-video"><span class="prod-v1__wrap"><i class="fa fa-youtube-play"></i>동영상 보기</a></span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="prod__box-wrap type-img type-270">
							<div class="prod__bg">프라이빗한 친구연결</div>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-3-4">
						<div class="wrap">
							<div class="prod-v4">
								<div class="prod-v4__box">
									<ul class="prod-v4__list">
										<li class="prod-v4__item nth-1">
											<div class="prod-v4__wrap">
												<h3 class="prod-v4__tit">회원가입</h3>
												<h4 class="prod-v4__sub-tit">위퍼블에 가입하세요.</h4>
												<p class="prod-v4__txt">
													위퍼블 회원가입은 무료 입니다. 위퍼블 홈페이지에서 전자책 저작도구인 <위퍼블 오써>를 무료로 다운로드 받아 설치할 수 있습니다.
												</p>
											</div>
										</li>
										<li class="prod-v4__item nth-2">
											<div class="prod-v4__wrap">
												<h3 class="prod-v4__tit">전자책 제작</h3>
												<h4 class="prod-v4__sub-tit">고품질 전자책을 만드세요.</h4>
												<p class="prod-v4__txt">
													<위퍼블 오써>를 통해 일반 소설책에서 멀티미디어 잡지에 이르는 다양한 형태의 고품질 전자책을 직접 제작할 수 있습니다.
												</p>
											</div>
										</li>
										<li class="prod-v4__item nth-3">
											<div class="prod-v4__wrap">
												<h3 class="prod-v4__tit">개인서점 등록</h3>
												<h4 class="prod-v4__sub-tit">자신만의 서점을 만드세요.</h4>
												<p class="prod-v4__txt">
													직접만든 전자책을 자신의 개인서점에 보관하고 관리할 수 있습니다.
												</p>
											</div>
										</li>
										<li class="prod-v4__item nth-4">
											<div class="prod-v4__wrap">
												<h3 class="prod-v4__tit">다양한 방식으로 배포</h3>
												<h4 class="prod-v4__sub-tit">위퍼블 북스토어에 올리기</h4>
												<p class="prod-v4__txt">
													매일 수많은 개인 작가와 기업, 기관이 직접만든 전자책들이 올라옵니다.
												</p>
												<h4 class="prod-v4__sub-tit">SNS로 직접 배포하기</h4>
												<p class="prod-v4__txt">
													전자책 다운로드 주소를 URL 형태로 배포하거나 직접 포스팅 할 수 있습니다.
												</p>
												<h4 class="prod-v4__sub-tit">QR코드를 통한 배포</h4>
												<p class="prod-v4__txt">
													명함을 통해 전자책을 마치 실제 책을 전달하는 것처럼 배포할 수 있습니다.
												</p>
												<h4 class="prod-v4__sub-tit">자신의 사이트에 임베딩하기</h4>
												<p class="prod-v4__txt">
													직접 제작한 전자책, 개인 라이브러리를 자신의 홈페이지나 블로그에 임베딩 할 수 있습니다.
												</p>
											</div>
										</li>
										<li class="prod-v4__item type-another nth-5">
											<div class="prod-v4__wrap">
												<h3 class="prod-v4__tit">뷰어</h3>
												<h4 class="prod-v4__sub-tit">위퍼블 뷰어로 전자책 보기</h4>
												<p class="prod-v4__txt">
													위퍼블 뷰어로 언제 어디서나 전자책을 보세요.
												</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="prod-v4__box">
									<ul class="prod-v4__list">

									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-3-5">
						<div class="wrap">
							<p class="prod__we-txt">ePub3.0 전자책 저작을 위한 Window용 전문 전자책 저작도구</p>
							<h2 class="prod__we-tit">전자책 <span class="color7">저작도구</span></h2>
							<img src="../../images/prod/wepubl_logo1.jpg" alt="wepubl author" class="prod__we-img">
							<div class="prod__box-wrap type-img type-466w">
								<div class="prod__bg">전자책 저작도구</div>
							</div>
							<div class="prod__we-wrap">
								<div class="prod__left-box">
									<h3 class="prod__we-subject">주요 편집 메뉴</h3>
									<!--2017-03-27수정-->
									<ul class="prod__menu-list">
										<li class="prod__menu-item">표 입력</li>
										<li class="prod__menu-item">이미지&middot;갤러리 입력</li>
										<li class="prod__menu-item">수식 입력</li>
										<li class="prod__menu-item">도형개체 입력</li>
										<li class="prod__menu-item">소리&middot;동영상&middot;유튜브 입력</li>
										<li class="prod__menu-item">덧말 작성&middot;입력</li>
										<li class="prod__menu-item">하이퍼링크 입력</li>
										<li class="prod__menu-item">팝업 작성&middot;입력</li>
										<li class="prod__menu-item">날짜&middot;시간 입력</li>
										<li class="prod__menu-item">특수문자&middot;기호 입력</li>
										<li class="prod__menu-item">상용구 작성&middot;입력</li>
										<li class="prod__menu-item">객,주관식 문항 작성&middot;입력</li>
										<li class="prod__menu-item">현재 화면 캡쳐</li>
										<li class="prod__menu-item type-another">편집화면 미리보기</li>
										<li class="prod__menu-item">완성 전자책 업로드</li>
									</ul>
									<!--//2017-03-27수정-->
								</div>
								<div class="prod__right-box">
									<h3 class="prod__we-subject">주요 특징</h3>
									<h4 class="prod__we-sub-tit">ePUB 3.0 포맷 지원</h4>
									<p class="prod__txt">
										최신 트렌드인 HTML5와 CSS3 기술이 적용되어 있으며, 전자책 국제표준포맷인 ePUB 3.0 을 완벽하게 호환합니다.
									</p>
									<h4 class="prod__we-sub-tit">가변/고정 레이아웃 지원</h4>
									<p class="prod__txt">
										텍스트 중심의 일반 전자책도, 잡지 형태의 고급 전자책도 손쉽게 선택하여 제작 할 수 있습니다.
									</p>
									<h4 class="prod__we-sub-tit">다양한 객체 지원</h4>
									<p class="prod__txt">
										표, 이미지, 수식, 도형, 동영상, 유튜브 영상, 하이퍼링크, 문항 등 효과적인 전자책 제작을 위한 객체를 편리하게 추가 할 수 있습니다.
									</p>
									<h4 class="prod__we-sub-tit">hwp 문서 임포트 지원</h4>
									<p class="prod__txt">
										아래아한글로 작성된 원고를 임포트하여 최소한의 편집을 통해 전자책을 제작 할 수 있습니다.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-3-6">
						<div class="wrap">
							<p class="prod__we-txt">저장, 관리, 판매, 배포할 수 있는 독립 라이브러리 제공</p>
							<h2 class="prod__we-tit">전자책 <span class="color7">출판, 배포 관리</span></h2>
							<img src="../../images/prod/wepubl_logo2.jpg" alt="wepubl cloud" class="prod__we-img">
							<div class="prod__box-wrap type-img type-466w">
								<div class="prod__bg prod__bg1">전자책 출판, 배포 관리<</div>
							</div>
							<div class="prod__we-wrap">
								<div class="prod__left-box">
									<h3 class="prod__we-subject">개인 라이브러리</h3>
									<p class="prod__txt">
										제작한 전자책을 출판하기 위한 공간으로,
										한 저작자가 분야 별로 여러 개의 라이브러리를 가질 수 있습니다.
										일종의 개인 온라인 서점이라고 할 수 있습니다.
									</p>
									<h4 class="prod__we-sub-tit">라이브러리 임베딩 지원</h4>
									<p class="prod__txt">
										Iframe을 사용하여, 해당 라이브러리를 타 홈페이지나 블로그에 임베딩, 자체 온라인 서점처럼 운영 할 수 있습니다. 전용 URL을 생성하는 것도 가능합니다.
									</p>
									<h4 class="prod__we-sub-tit">테마 설정 지원</h4>
									<p class="prod__txt">
										자신만의 라이브러리를 꾸밀 수 있도록 상단의 테마 이미지와 배경 색상 등을 자유롭게 변경 할 수 있습니다.
									</p>
								</div>
								<div class="prod__right-box">
									<h3 class="prod__we-subject">개별 도서 배포</h3>
									<p class="prod__txt">
										라이브러리 내의 개별 도서도 다양한 방법으로 배포 할 수 있습니다.
									</p>
									<h4 class="prod__we-sub-tit">개별 도서 임베딩 지원</h4>
									<p class="prod__txt">
										frame 혹은 DIV 코드를 사용하여, 해당 도서를 타 홈페이지나 블로그에 임베딩 할 수 있습니다.
									</p>
									<h4 class="prod__we-sub-tit">URL, 고유코드, QR코드 지원</h4>
									<p class="prod__txt">
										자신의 전자책에 직접 접속 할 수 있는 채널을 URL, 고유코드, QR코드 등의 방법으로 독자에게 제공 할 수 있습니다. QR코드는 명함 등에 인쇄하여 자신의 책을 홍보하는데 사용합니다.
									</p>
								</div>
								<div class="prod__box-wrap type-img type-812w">
									<div class="prod__bg prod__bg2">전자책 출판, 배포 관리<</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-3-7">
						<div class="wrap">
							<p class="prod__we-txt">전자책 뷰어 앱 무료 제공</p>
							<h2 class="prod__we-tit">전자책 <span class="color7">뷰어</span></h2>
							<img src="../../images/prod/wepubl_logo3.jpg" alt="wepubl viewer" class="prod__we-img">
							<div class="prod__box-wrap type-img type-614w">
								<div class="prod__bg">전자책 뷰어</div>
							</div>
							<div class="prod__we-wrap">
								<div class="prod__right-box type-another">
									<h3 class="prod__we-subject">주요 특징</h3>
									<h4 class="prod__we-sub-tit">필터링 방식 도서 검색</h4>
									<p class="prod__txt">
										키워드 검색과 조건 검색을 결합한 새로운 검색방식으로 원하는 관심사를 담은 전자책을 손쉽게 찾을 수 있습니다.
									</p>
									<h4 class="prod__we-sub-tit">라이브러리 검색&middot;구독</h4><!--2017-03-27수정-->
									<p class="prod__txt">
										특정 저자의 책들이 마음에 들면 해당 저자의 라이브러리 자체를 등록 해 둘 수 있으며, 등록된 라이브러리에 신규 도서가 등록되면 구독자에게 알림 메시지가 전달됩니다. 저자가 기관이나 기업일 경우 더욱
										유용한 기능입니다.
									</p>
									<h4 class="prod__we-sub-tit">SNS 공유 기능</h4>
									<p class="prod__txt">
										구독 중인 도서가 마음에 들 경우, 페이스북 등 SNS를 통해 지인들에게 공유가 가능합니다.
									</p>
									<h4 class="prod__we-sub-tit">다양한 구독 편의기능</h4>
									<p class="prod__txt">
										목차 일람표, 글꼴 및 크기 변경, 유해도서 신고, 메모, 형광펜 등 편리한 구독을 위한 여러가지 편의기능을 제공합니다.
									</p>
									<h4 class="prod__we-sub-tit">자기 도서 확인</h4>
									<p class="prod__txt">
										wepubl author로 직접 제작한 자신의 전자책을 출판하기 전에 모바일 환경에서 제대로;  보이는지 미리 확인 할 수 있는 기능을 제공합니다.
									</p>
									<h4 class="prod__we-sub-tit">QR코드 스캔</h4>
									<p class="prod__txt">
										QR코드를 통해 배포된 wepubl 전자책을 즉시 다운로드 받을 수 있도록 QR코드 스캔 기능을 제공 합니다.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="prod__box nth-2-9">
						<div class="wrap">
							<h3 class="prod__tit">사용환경</h3>
							<table class="table-v1">
								<colgroup>
									<col class="table-v1__width">
								</colgroup>
								<thead>
									<tr>
										<th class="table-v1__th table-v1__th-header">구분</th>
										<th class="table-v1__th table-v1__th-header">사양</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="table-v1__th">운영체제</th>
										<td class="table-v1__td">Windows XP 이상</td>
									</tr>
									<tr>
										<th class="table-v1__th">CPU</th>
										<td class="table-v1__td">1.5GHz 듀얼코어 이상</td>
									</tr>
									<tr>
										<th class="table-v1__th">RAM</th>
										<td class="table-v1__td">4GB 이상 권장</td>
									</tr>
									<tr>
										<th class="table-v1__th">하드디스크</th>
										<td class="table-v1__td">500MB 여유공간 필요</td>
									</tr>
									<tr>
										<th class="table-v1__th">디스플레이</th>
										<td class="table-v1__td">1280 *1024 이상 </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
