<% include ../_include/_header %>
<div class="content">
	<div class="js-dim">
		<div class="wrap">
			<div class="tab-v1 type-another" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item"><a href="prod_01.html" class="tab-v1__link" data-title="">지니톡</a></li>
					<li class="tab-v1__item is-active"><a href="prod_02.html" class="tab-v1__link" data-title="">톡카페</a></li>
					<li class="tab-v1__item"><a href="prod_03.html" class="tab-v1__link" data-title="">위퍼블</a></li>
					<li class="tab-v1__item"><a href="prod_04.html" class="tab-v1__link" data-title="">드림시드</a></li>
					<li class="tab-v1__item"><a href="prod_05.html" class="tab-v1__link" data-title="">플렉슬</a></li>
				</ul>
				<span class="tab-v1__m-tit">톡카페</span>
			</div>
		</div>
		<div class="content__box">
			<div class="tab-content is-active type-another">
				<div class="content__body type-another">
					<div class="prod__box nth-2-1 type-header">
						<div class="prod__box-wrap type-img type-480">
							<div class="prod__bg">비쥬얼영역</div>
						</div>
						<div class="wrap">
							<h1 class="content__tit hidden-m">톡카페</h1>
							<p class="prod__img-tit nth-2"><img src="../../images/prod/talkafe_tit.png" alt="톡카페"></p>
							<h2 class="prod__tit">모바일 및 PC기반의<br class="hidden-m"> 메신저 &amp; SNS 플랫폼입니다</h2>
							<a href="" class="prod__btn type-another" target="_blank">
								<span>자세히보기<i class="fa fa-external-link"></i></span>
							</a>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2">
						<div class="wrap">
							<h3 class="prod__sub-tit type-another">지금 무료로 다운로드 받으세요!</h3>
							<p class="prod__txt hidden-m">쉽게 모바일 앱을 설치하실 수 있습니다.</p>
							<ul class="prod-v2__list">
								<li class="prod-v2__item nth-1"><a href="https://play.google.com/store/apps/details?id=com.hancom.talkafe" class="prod-v2__link" target="_blank"><span>GoolePlay</span></a></li>
								<li class="prod-v2__item nth-2"><a href="https://itunes.apple.com/kr/app/mallangmallang-togkape-talkafe/id1171307393?mt=8" class="prod-v2__link" target="_blank"><span>App Store</span></a></li>
								<li class="prod-v2__item nth-4"><a href="" class="prod-v2__link type-another"><span>QR code execution - QR코드</span></a></li><!-- 2017-03-24 수정-->
							</ul>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2-fix nth-2-3">
						<div class="prod__box-wrap type-img type-578">
							<div class="prod__bg">프라이빗한 친구연결</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-min">
								<div class="prod__box-wrap2">
									<h3 class="prod__cont-tit type-purple">프라이빗한 친구연결</h3>
									<h4 class="prod__cont-sub">내가 원하는 사람만 친구로 맺고<br> 자유롭게 얘기해 보세요.</h4>
									<p class="prod__txt type-fs13 type-m50">
										전화번호 등록 없이도 메신저를 사용할 수 있어, 더 이상 내가 모르는 사람이나 원하지 않는 사람으로부터 메시지를 받지 않아도 됩니다.<br class="hidden-m"><br class="hidden-m">
										내가 선택한 친구에게만 보여지는 시크릿 프로필을 따로 설정할 수 있어, 내가 보여주고 싶은 사진을 자유롭게 프로필로 등록할 수 있습니다.
									</p>
								</div>
							</div>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2-fix nth-2-4">
						<div class="prod__box-wrap type-img type-578">
							<div class="prod__bg">메시지 타이머</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-left type-min type-60r">
								<div class="prod__box-wrap2">
									<h3 class="prod__cont-tit type-purple">메시지 타이머</h3>
									<h4 class="prod__cont-sub">장난스럽고 비밀스런 메시지는<br> 타이머 기능으로 보내세요.</h4>
									<p class="prod__txt type-fs13 type-m50">
										딱 한 번만 보여주고 싶은 사진이나, 저장되어서는 안되는 비밀스러운 메시지는 타이머 기능을 이용하여 일정 시간 후에 삭제할 수 있습니다.<br class="hidden-m"><br class="hidden-m">
										10초를 설정하면 딱 10초 후 (메시지가) 상대방 기기와 서버에서도 완전히 삭제되어 안심하고 비밀스러운 대화를 할 수 있습니다.
									</p>
								</div>
							</div>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2-fix nth-2-5">
						<div class="prod__box-wrap type-img type-578">
							<div class="prod__bg">예약 메시지</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-min">
								<div class="prod__box-wrap2">
									<h3 class="prod__cont-tit type-purple">예약 메시지</h3>
									<h4 class="prod__cont-sub">
										특별한 날, 특별한 시간에 소중한 메시지를 예약하세요.<br>
										그 순간에만 누릴 수 있는 특별한 감동이 전해집니다.
									</h4>
									<p class="prod__txt type-fs13 type-m50">
										생일이나 자칫 놓칠 수도 있는 기념일은 메시지 예약 기능을 통해 미리 챙겨두세요.<br class="hidden-m"><br class="hidden-m">
										예약한 시간이 되어 메시지가 전달되는 순간,<br>
										보낸 이의 세심한 정성이 상대방에게 깊은 감동으로 다가갑니다.
									</p>
								</div>
							</div>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2-fix nth-2-6">
						<div class="prod__box-wrap type-img type-578">
							<div class="prod__bg">메시지 취소</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-left type-min">
								<div class="prod__box-wrap2">
									<h3 class="prod__cont-tit type-purple">메시지 취소</h3>
									<h4 class="prod__cont-sub">실수로 잘못 보낸 메시지가 있을 때, 상대방이 확인 하기 전이라면 바로 취소할 수 있습니다.</h4>
									<p class="prod__txt type-fs13 type-m50">
										다른 대화방에 메시지를 잘못 보냈거나, 후회스러운 메시지를 보냈을 땐 바로 취소하세요.<br class="hidden-m">
										상대방 기기에서도 메시지를 삭제할 수 있습니다.<br class="hidden-m">
										(단, 삭제 후 메시지가 취소되었다는 문구가 보여집니다.)
									</p>
								</div>
							</div>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2-fix nth-2-7">
						<div class="prod__box-wrap type-img type-578">
							<div class="prod__bg">카페 - 커뮤니티</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-min">
								<div class="prod__box-wrap2">
									<h3 class="prod__cont-tit type-purple">카페 - 커뮤니티</h3>
									<h4 class="prod__cont-sub">
										톡하다, 카페하다, 톡하다…<br>
										메신저와 SNS를 넘나드는 자유로운 소통
									</h4>
									<p class="prod__txt type-fs13 type-m50">
										별도 앱을 열지않고 하나의 앱으로 메신저와 SNS를 동시에!<br>
										내 정보가 공개되지 않아  카페 내 프라이버시 보호도 가능합니다.<br>
										다양한 주제, 다양한 스타일의 카페를 운영하고, 체험해 보세요.
									</p>
								</div>
							</div>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2-fix nth-2-8">
						<div class="prod__box-wrap type-img type-578">
							<div class="prod__bg">지니톡 번역</div>
						</div>
						<div class="wrap">
							<div class="prod__box-wrap type-left type-min">
								<div class="prod__box-wrap2">
									<h3 class="prod__cont-tit type-purple">지니톡 번역</h3>
									<h4 class="prod__cont-sub">세계 최고의 기술력을 보유한 지니톡의<br>자동번역 기능을 경험해 보세요. </h4>
									<p class="prod__txt type-fs13 type-m50">
										간단한 영어 단어나 표현이 생각나지 않을 때,<br>
										일일이 검색하지 않고 지니톡 번역으로 한번에 보낼 수 있습니다.<br>
										메시지 번역 뿐 아니라, 카페 내 게시물도 번역하여 볼 수 있습니다.<br>
										다국적 구성원으로 이뤄진 카페 운영도 지니톡 번역과 함께라면 오케이!
									</p>
								</div>
							</div>
						</div>
					</div><!-- //prod__box -->
					<div class="prod__box nth-2-9">
						<div class="wrap">
							<h3 class="prod__tit">사용환경</h3>
							<table class="table-v1">
								<colgroup>
									<col class="table-v1__width">
								</colgroup>
								<thead>
									<tr>
										<th class="table-v1__th table-v1__th-header">구분</th>
										<th class="table-v1__th table-v1__th-header">사양</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="table-v1__th">운영체제</th>
										<td class="table-v1__td">Android 4.1 이상 / iOS 8.1 이상</td>
									</tr>
									<tr>
										<th class="table-v1__th">디스플레이</th>
										<td class="table-v1__td">Android 720*1280 / iOS 640*960 iphone 5 ~ 1080*1920 iphone7 plus</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
