<% include ../_include/_header %>
	<div class="main">
		<div class="video">
			<div class="video__vertical">
				<div class="video__box">
					<div class="video__wrap">
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/2rEnxVSOZak" title="홍보영상" frameborder="0" class="youFrame"></iframe>
					</div>
					<a href="" class="video__close">닫기</a>
				</div>
			</div>
		</div>
		<div class="main__box section" id="section0">
			<ul class="main__list">
				<li class="main__item nth-1 is-active">
					<div class="main__header">
						<div class="wrap">
							<a href="" class="main__header-wrap js-bar">
								메인
							</a>
						</div>
					</div>
					<ul class="main__visual">
						<li class="main__slider">
							<div class="main__item-bg">
								<div class="main__slider-vertical">
									<div class="main__slider-wrap">
										<div class="main__slider-tit">
											더 쉽고,<br>
											<strong>더 색다르고,</strong><br>
											더 재미있게!
										</div>
										<!-- 2017-03-28수정 -->
										<div class="main__slider-txt">
											우리의 생활을 변화시키는 한컴의 다양한 소프트웨어 기술과 아이디어<br>
											더 나은 오늘을 만들고, 새로움이 가득한 내일을 열어갑니다<br>
											한컴말랑말랑!

										</div>
										<!-- //2017-03-28수정 -->
									</div>
								</div>
							</div>
						</li>
						<li class="main__slider">
							<div class="main__item-bg">
								<div class="main__slider-vertical">
									<div class="main__slider-wrap">
										<div class="main__slider-tit">
											더 쉽고,<br>
											<strong>더 색다르고,</strong><br>
											더 재미있게!
										</div>
										<div class="main__slider-txt">
											여러분의 생활을 변화시킬 새로운<br class="mobile"> 생활 서비스 브랜드 한컴 말랑말랑!
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<!-- <a href="" class="main__slider-btn js-video">
						<span>Watch video</span>
					</a> -->
					<div class="page">
						<div class="page__list page__list-main"></div>
						<div class="page__start page__start-main"></div>
					</div>
				</li>
				<li class="main__item nth-2">
					<div class="main__header">
						<div class="wrap">
							<a href="" class="main__header-wrap js-bar">
								제품 및 서비스
							</a>
						</div>
					</div>
					<ul class="main2__visual">
						<li class="main2__slider">
							<div class="main__item-bg nth-1">
								<div class="wrap">
									<div class="main2__slider-tit">
										제품 및 서비스<br>
										<img src="../../images/main/genie_txt.png" alt="GenieTalk" class="main2__slider-img">
									</div>
									<div class="main2__slider-txt">
										모바일 음성인식<br>
										자동통역기
									</div><br>
									<a href="../prod/prod_01.html" class="main__more type-another">자세히보기</a>
								</div>
							</div>
						</li>
						<li class="main2__slider">
							<div class="main__item-bg nth-2">
								<div class="wrap">
									<div class="main2__slider-tit">
										제품 및 서비스<br>
										<img src="../../images/main/talkafe_txt.png" alt="talkfe" class="main2__slider-img">
									</div>
									<div class="main2__slider-txt">
										나만의 프라이버시를<br>
										지켜주는 프라이빗 메신저
									</div><br>
									<a href="../prod/prod_02.html" class="main__more type-another">자세히보기</a>
								</div>
							</div>
						</li>
						<li class="main2__slider">
							<div class="main__item-bg nth-3">
								<div class="wrap">
									<div class="main2__slider-tit">
										제품 및 서비스<br>
										<img src="../../images/main/wepubl_txt.png" alt="wepubl" class="main2__slider-img">
									</div>
									<div class="main2__slider-txt">
										내가 직접만드는<br>
										독립출판 플랫폼
									</div><br>
									<a href="../prod/prod_03.html" class="main__more type-another">자세히보기</a>
								</div>
							</div>
						</li>
						<li class="main2__slider">
							<div class="main__item-bg nth-4">
								<div class="wrap">
									<div class="main2__slider-tit">
										제품 및 서비스<br>
										<img src="../../images/main/dream_txt.png" alt="talkfe" class="main2__slider-img">
									</div>
									<div class="main2__slider-txt">
										의미있는 생산을 위한<br>
										크라우드 펀딩 서비스
									</div><br>
									<a href="../prod/prod_04.html" class="main__more type-another">자세히보기</a>
								</div>
							</div>
						</li>
						<li class="main2__slider">
							<div class="main__item-bg nth-5">
								<div class="wrap">
									<div class="main2__slider-tit">
										제품 및 서비스<br>
										<img src="../../images/main/flexcil_txt.png" alt="flexcil" class="main2__slider-img">
									</div>
									<div class="main2__slider-txt">
										전자책과 노트가 결합된<br>
										모바일 디지털노트
									</div><br>
									<a href="../prod/prod_05.html" class="main__more type-another">자세히보기</a>
								</div>
							</div>
						</li>
					</ul>
					<a href="#" class="main2__btn-prev">이전</a>
					<a href="#" class="main2__btn-next">다음</a>
					<div class="page">
						<div class="page__list page__list-main2"></div>
					</div>
				</li>
				<li class="main__item nth-3">
					<div class="main__header">
						<div class="wrap">
							<a href="" class="main__header-wrap js-bar">
								뉴스 &amp; SNS
							</a>
						</div>
					</div>
					<div class="main__item-bg">
						<div class="wrap">
							<div class="main__slider-vertical">
								<div class="main__slider-wrap">
									<div class="main3__header">
										<div class="main3__box nth-1">
											<h2 class="main3__tit">
												뉴스&amp;SNS
											</h2>
											<a href="../news/news.html" class="main__more type-another type-color1">더보기</a>
										</div>
										<div class="main3__box nth-2">
											<ul class="main3__news">
												<li class="main3__news-item">
													<h3 class="main3__news-tit">AI번역 서비스 '한컴 말랑말랑 지니톡' 인공신경망번역기술 적용 AI번역 서비스 '한컴 말랑말랑 지니톡' 인공신경망번역기술 적용AI번역 서비스 '한컴 말랑말랑 지니톡' 인공신경망번역기술 적용</h3>
													<p class="main3__news-txt">
														한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다. 1111 인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고,
														다양한 언어와 어순, 의미를 스스로 학습하는 머신러닝 방식을 통해 실시간 번역 품질 향상을 기대할 수 있다. 다양한 언어와 어순, 의미를 스스로 학습하는 머신러닝 방식을 통해 실시간 번역 품질 향상을 기대할 수 있다.
													</p>
												</li>
												<li class="main3__news-item">
													<h3 class="main3__news-tit">AI번역 서비스 '한컴 말랑말랑 지니톡' 인공신경망번역기술 적용</h3>
													<p class="main3__news-txt">
														한글과컴퓨터가 인공지능(AI) 기반 통번역 서비스 '한컴 말랑말랑 지니톡'에 인공신경망번역기술(NMT)을 적용한다고 15일 밝혔다.  인공신경망기술은 단어가 아닌 문장 전체의 문맥과 어순을 고려해 번역하기 때문에 번역결과가 더욱 정확하고, 다양한 언어와 어순, 의미를 스스로 학습하는 머신러닝 방식을 통해 실시간 번역 품질 향상을 기대할 수 있다.
													</p>
												</li>
											</ul>
											<div class="page3">
												<div class="page3__list">
												</div>
											</div>
										</div>
									</div><!-- //main3__header-->
									<div class="main3__bottom">
										<div class="main3__sns js-sns">
											<ul class="sns__list type-main">
												<li class="sns__item">
													<div class="sns__wrap">
														<a href="" class="sns__link"></a>
														<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
														<p class="sns__txt">
															한컴그룹 사랑의 김장나눔 봉사활동
															추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자
														</p>
														<p class="sns__date">2016.12.13</p>
													</div>
												</li>
												<li class="sns__item">
													<div class="sns__wrap">
														<a href="" class="sns__link"></a>
														<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
														<p class="sns__txt">
															한컴그룹 사랑의 김장나눔 봉사활동
															추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 ...
														</p>
														<p class="sns__date">2016.12.13</p>
													</div>
												</li>
												<li class="sns__item">
													<div class="sns__wrap">
														<a href="" class="sns__link"></a>
														<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
														<p class="sns__txt">
															한컴그룹 사랑의 김장나눔 봉사활동
															추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 ...
														</p>
														<p class="sns__date">2016.12.13</p>
													</div>
												</li>
												<li class="sns__item">
													<div class="sns__wrap">
														<a href="" class="sns__link"></a>
														<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
														<p class="sns__txt">
															한컴그룹 사랑의 김장나눔 봉사활동
															추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 ...
														</p>
														<p class="sns__date">2016.12.13</p>
													</div>
												</li>
												<li class="sns__item">
													<div class="sns__wrap">
														<a href="" class="sns__link"></a>
														<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
														<p class="sns__txt">
															한컴그룹 사랑의 김장나눔 봉사활동
															추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 ...
														</p>
														<p class="sns__date">2016.12.13</p>
													</div>
												</li>
												<li class="sns__item">
													<div class="sns__wrap">
														<a href="" class="sns__link"></a>
														<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
														<p class="sns__txt">
															한컴그룹 사랑의 김장나눔 봉사활동
															추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 ...
														</p>
														<p class="sns__date">2016.12.13</p>
													</div>
												</li>
												<li class="sns__item">
													<div class="sns__wrap">
														<a href="" class="sns__link"></a>
														<h3 class="sns__tit">말랑말랑 <i class="fa fa-external-link"></i></h3>
														<p class="sns__txt">
															한컴그룹 사랑의 김장나눔 봉사활동
															추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 ...
														</p>
														<p class="sns__date">2016.12.13</p>
													</div>
												</li>
												<li class="sns__item">
													<div class="sns__wrap">
														<a href="" class="sns__link"></a>
														<h3 class="sns__tit">말랑말랑8</h3>
														<p class="sns__txt">
															한컴그룹 사랑의 김장나눔 봉사활동
															추운 연말, 한컴그룹 임직원들과 가족들이 이웃과 사랑을 나누고자 ...
														</p>
														<p class="sns__date">2016.12.13</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="paging"></div>
									</div>
								</div><!-- //main__slider-wrap-->
							</div><!-- //main__slider-vertical-->
						</div><!-- //wrap -->
					</div><!-- //main__item-bg-->
				</li>
				<li class="main__item nth-4">
					<div class="main__header">
						<div class="wrap">
							<a href="" class="main__header-wrap js-bar">
								이벤트
							</a>
						</div>
					</div>
					<div class="main__item-bg">
						<div class="wrap">
							<div class="main__slider-vertical">
								<div class="main__slider-wrap">
									<h3 class="event__tit">이벤트</h3>
									<div class="event__slider js-event">
										<ul class="event__list type-main">
											<li class="event__item">
												<div class="event__wrap">
													<div class="event__img">
														<div class="event__close">
															<div class="event__close-box">
																<div class="event__close-wrap">
																	<p class="event__close-txt">많은 성원 감사드립니다.</p>
																	<h4 class="event__close-tit">종료된 이벤트입니다.</h4>
																</div>
															</div>
														</div>
														<img src="../../images/main/main_banner1.jpg" alt="">
													</div>
													<div class="event__box">
														<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄! [새봄맞이]한컴닷컴은 OOO라고 봄! [새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
														<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
														<a href="" class="event__btn"><span>당첨자 발표</span></a>
													</div>
												</div>
											</li>
											<li class="event__item">
												<div class="event__wrap">
													<div class="event__img">
														<img src="../../images/main/main_banner1.jpg" alt="">
													</div>
													<div class="event__box">
														<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
														<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
													</div>
												</div>
											</li>
											<li class="event__item">
												<div class="event__wrap">
													<div class="event__img">
														<img src="../../images/main/main_banner1.jpg" alt="">
													</div>
													<div class="event__box">
														<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
														<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
													</div>
												</div>
											</li>
											<li class="event__item">
												<div class="event__wrap">
													<div class="event__img">
														<img src="../../images/main/main_banner1.jpg" alt="">
													</div>
													<div class="event__box">
														<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
														<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
													</div>
												</div>
											</li>
											<li class="event__item">
												<div class="event__wrap">
													<div class="event__img">
														<img src="../../images/main/main_banner1.jpg" alt="">
													</div>
													<div class="event__box">
														<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
														<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
													</div>
												</div>
											</li>
											<li class="event__item">
												<div class="event__wrap">
													<div class="event__img">
														<img src="../../images/main/main_banner1.jpg" alt="">
													</div>
													<div class="event__box">
														<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
														<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="paging type-another"></div>
									<a href="../event/event.html" class="main__more type-another type-color2">더보기</a>
									<!-- <a href="../event/event.html" class="event__link">더보기</a> -->
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div><!-- //main__box -->
	</div>
<% include ../_include/_footer %>
