<% include ../_include/_header %>
<div class="content">
	<div class="wrap js-dim">
		<div class="content__box">
			<div class="content__header">
				<h1 class="content__tit">EVENT</h1>
				<p class="content__header-txt">참여의 즐거움과 당첨의 기쁨을 누려보세요!</p>
			</div>
			<div class="content__body">
				<ul class="event__list type-content">
					<li class="event__item">
						<div class="event__wrap">
							<div class="event__img">
								<div class="event__close">
									<div class="event__close-box">
										<div class="event__close-wrap">
											<p class="event__close-txt">많은 성원 감사드립니다.</p>
											<h4 class="event__close-tit">종료된 이벤트입니다.</h4>
										</div>
									</div>
								</div>
								<img src="../../images/main/main_banner1.jpg" alt="">
							</div>
							<div class="event__box">
								<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄! [새봄맞이]한컴닷컴은 OOO라고 봄! [새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
								<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
								<a href="" class="event__btn"><span>당첨자 발표</span></a>
							</div>
						</div>
					</li>
					<li class="event__item">
						<div class="event__wrap">
							<div class="event__img">
								<img src="../../images/main/main_banner1.jpg" alt="">
							</div>
							<div class="event__box">
								<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
								<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
							</div>
						</div>
					</li>
					<li class="event__item">
						<div class="event__wrap">
							<div class="event__img">
								<img src="../../images/main/main_banner1.jpg" alt="">
							</div>
							<div class="event__box">
								<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
								<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
							</div>
						</div>
					</li>
					<li class="event__item">
						<div class="event__wrap">
							<div class="event__img">
								<img src="../../images/main/main_banner1.jpg" alt="">
							</div>
							<div class="event__box">
								<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
								<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
							</div>
						</div>
					</li>
					<li class="event__item">
						<div class="event__wrap">
							<div class="event__img">
								<img src="../../images/main/main_banner1.jpg" alt="">
							</div>
							<div class="event__box">
								<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
								<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
							</div>
						</div>
					</li>
					<li class="event__item">
						<div class="event__wrap">
							<div class="event__img">
								<img src="../../images/main/main_banner1.jpg" alt="">
							</div>
							<div class="event__box">
								<h4 class="event__box-tit">[새봄맞이]한컴닷컴은 OOO라고 봄!</h4>
								<p class="event__box-date">2017.02.01 ~ 2017.02.22</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="pagination-v1">
					<div class="pagination-v1__info"><span class="pagination-v1__location">1</span>/10</div>
					<span class="pagination-v1__group pagination-v1__group_prev">
						<a href="#" class="pagination-v1__item pagination-v1__item_home">처음</a>
						<a href="#" class="pagination-v1__item pagination-v1__item_prev">10페이지 이전</a>
						<a href="#" class="pagination-v1__item pagination-v1__item_before">이전</a>
					</span>
					<span class="pagination-v1__group">
						<a href="#" class="pagination-v1__item">1</a>
						<a href="#" class="pagination-v1__item">2</a>
						<a href="#" class="pagination-v1__item on">3</a>
						<a href="#" class="pagination-v1__item">4</a>
						<a href="#" class="pagination-v1__item">5</a>
						<a href="#" class="pagination-v1__item">6</a>
						<a href="#" class="pagination-v1__item">7</a>
						<a href="#" class="pagination-v1__item">8</a>
						<a href="#" class="pagination-v1__item">9</a>
						<a href="#" class="pagination-v1__item">10</a>
					</span>
					<span class="pagination-v1__group pagination-v1__group_next">
						<a href="#" class="pagination-v1__item pagination-v1__item_after">다음</a>
						<a href="#" class="pagination-v1__item pagination-v1__item_next">10페이지 다음</a>
						<a href="#" class="pagination-v1__item pagination-v1__item_end">마지막</a>
					</span>
				</div><!-- //pagination-v1 -->
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
