@charset "UTF-8";
@import "variables";
@import "mixins";

.js-dim{
	&.is-active{
		&:before{position:fixed; top:0; left:0; bottom:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); content:''; z-index:100;}
	}
}
.prod{
	&__img-tit{ margin:40px 0 0 0;}
	&__img-tit2{overflow:hidden; margin:0;  text-indent: -9999px;}
	&__tit{margin:40px 0px 0px 0px; font-size:36px; font-weight:600; line-height:1.33;
		&.type-another{color:#fff;}
	}
	&__sub-tit{margin:0; font-size:36px; font-weight:600;
		&.type-num{position:relative; color:#36bcce; padding-top:40px;
			&:after{display:block; position:absolute; left:0px; bottom:-5px; font-size:100px; font-weight:600; color:#e1e4e8; color:rgba(54,188,206,0.1); line-height:1; content:'01';}
			&.nth-2{
				&:after{content:'02'}
			}
			&.nth-3{
				&:after{content:'03'}
			}
		}
	}
	&__cont-tit{position:relative; margin:0; padding-bottom:20px; font-size:36px; font-weight:600; color:#fff;
		&:after{position:absolute; left:0; bottom:0; display:inline-block; width:30px; height:2px; background-color:#fff; content:'';}
		&.type-purple{color:#713dd9;
			&:after{background-color:#713dd9;}
		}
		&.type-green{color:#00a39f;
			&:after{background-color:#00a39f;}
		}
	}
	&__we-txt{margin:0; font-size:24px ; color:#000;}
	&__we-tit{margin:20px 0 0 0; font-size:42px; font-weight:600; color:#000;}
	&__we-sub-tit{margin:0; font-size:24px; color:#000000; font-weight:600;}
	&__we-wrap{margin-top:30px;
		&:after{display:block; clear:both; content:'';}
	}
	&__we-img{margin-top:30px;}
	&__we-subject{position:relative; margin:0 0 30px; padding-bottom:20px; font-size:36px; font-weight:600; color:000; color:#0a56a9;
		&.type-another{
			&:after{background-color:#7ebbff;}
		}
		&:after{position:absolute; left:0; bottom:0; display:block; width:30px; height:2px; background-color:#0a56a9; content:'';}
	}
	&__left-box{float:left; width:318px; text-align:left;}
	&__right-box{float:right; width:318px; text-align:left;
		&.type-another{width:50%; padding-left:30px; box-sizing:border-box;}
		.prod__txt{margin-top:15px;}
	}
	&__menu-list{padding:12px 86px 0 0; margin:0; list-style:none; text-align:right;}
	&__menu-item{font-size:16px; color:#363636; line-height:1;
		& + .prod__menu-item{margin-top:16px;}
		& + .prod__menu-item.type-another{margin-top:54px;}
	}
	&__cont-sub{margin:30px 0 0 0; font-size:24px; font-weight:600; line-height:1.41;
		&.type-fs28{margin:20px 0 0 0; font-size:28px;
			& + .prod__txt.type-fs13{margin-top:20px;}
			& + .prod__txt.type-fs13.type-m50{margin-top:50px;}
		}
	}
	&__cont-span{display:block; font-size:16px; color:#363636; font-weight:600;}
	&__txt{margin-top:26px; margin-bottom:0; font-size:16px; color:#363636;
		& + .prod__txt{margin-top:36px;}
		&.type-another{color:#fff;}
		& + .prod__cont-tit{margin-top:50px;}
		& + .prod__cont-sub{margin-top:50px;}
		& + .prod__we-sub-tit{margin-top:40px;}
		&.type-m20{margin-top:20px;}
		&.type-m40{margin-top:40px;}
		&.type-m50{margin-top:50px;}
		&.type-fs13{
			& + .prod__cont-sub.type-fs28{margin-top:50px;}
		}
	}
	&__btn{-webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; width:160px; height:54px; padding:0 10px; /* padding:6px 5px 7px 5px; */ border:1px solid #fff; color: #fff; text-align: center; vertical-align: middle; margin-top:60px; font-size: 16px; cursor: pointer; line-height:1;
		text-indent:0; border-radius: 70px 70px 70px 70px; transition:all 0.5s;-webkit-transition:all 0.5s;
		&:after{display:inline-block;height:100%; vertical-align:middle; content:'';}
		& > span{position:relative;display:inline-block; vertical-align:middle;
			// &:after{position:absolute; right:0; display:inline-block; width:15px; height:15px; background:url('../images/prod/blank_icon.png'); content:'';}
		}
		& i{margin-left:10px;}
		&.type-another{
			color:#000; border:1px solid rgba(0,0,0,0.5); font-weight:500;
			& > span:after{
				background:url('../images/prod/blank_icon_c.png');
				@media only screen and (max-width:$tablet-size) {background:url('../images/prod/blank_icon_m.png'); background-size:11px 11px;}
			}
			&:hover{color:#fff; background-color:#713dd9; border:1px solid #713dd9;}
			&.type-wepubl{
				&:hover{background-color:#0091ea; border:1px solid #0091ea;}
			}
			&.type-dream{
				&:hover{background-color:#208ed2; border:1px solid #208ed2;}
			}
			&.type-flexcil{
				&:hover{background-color:#00a39f; border:1px solid #00a39f;}
			}
		}
		&.type-another2{width:192px; height:64px; color:#000000; font-weight:500; background-color:#fff; background-color:rgba(255,255,255,0.8);
			& > span:after{
				background:url('../images/prod/blank_icon_c.png');

			}
			@media only screen and (max-width:$tablet-size) {
				width:118px; height:32px; margin:20px 0 30px; background-color:transparent;
				& > span:after{
					background:url('../images/prod/blank_icon_m.png'); background-size:11px 11px;
				}
			}
		}
		&.type-another3{width:192px; height:64px; color:#000000; font-weight:500; background-color:#fff; background-color:rgba(0,0,0,0.1); color:#fff; margin-top:40px;
			& > span:after{
				background:url('../images/prod/blank_icon.png');

			}
			@media only screen and (max-width:$tablet-size) {
				border:1px solid #fff; width:118px; height:32px; margin:20px 0 0px; background-color:transparent;
				& > span:after{
					background:url('../images/prod/blank_icon_m2.png'); background-size:11px 11px;
				}
			}
		}
		&.type-user{margin-left:15px;
			& > span{padding-right:0;
				&:after{display:none;}
				& .fa{padding-left:10px;}
			}
		}
	}
	&__box{padding:80px 0; background-size:cover !important; background-position:center center !important; box-sizing:border-box;
		& .wrap{height:100%;}
		&.type-header{
			& .prod__img-tit{margin-top:30px;}
			& .prod__tit{margin-top:30px;}
			& .prod__btn{margin-top:40px;}
		}
		&.nth-1{min-height:600px; background:url('../images/prod/box1_1.jpg') no-repeat center bottom;  }
		&.nth-2{position:relative; text-align:center;
			&:before{position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background-color:#ac7ffe; z-index:-1;content:'';}
			&.type-wepubl{
				&:before{background-color:#2fb6e9;}
			}
			&.type-flexcil{
				&:before{background-color: #00a39f;}
			}
			&.type-two{text-align:left;
				& .prod-v2__list{position:absolute; margin-top:0; width:50%; top:10px; right:0; }
				& .prod-v2__item{width:50%;}
			}
		}
		&.nth-3{min-height:690px; padding:0; position:relative;}
		&.nth-4{min-height:690px; position:relative; text-align:center;  background:url('../images/prod/box1_4_1.jpg');
			& .prod__img-tit2{width:321px; height:61px; background-image:url('../images/prod/genietalk_tit6.png');}
			& .prod__bg{ background:url('../images/prod/box1_4_1_m.jpg') no-repeat; background-size:contain;}
		}
		&.nth-5{min-height:690px; position:relative; text-align:center;  background-color:#fff;}
		&.nth-6{min-height:690px; position:relative; text-align:center;  background:url('../images/prod/box1_6_1.jpg');
			& .prod__img-tit2{width:320px; height:61px; background-image:url('../images/prod/genietalk_tit10.png');}
			& .prod__bg{ background:url('../images/prod/box1_6_1_m.jpg') no-repeat; background-size:contain;}
		}
		&.nth-2-fix{min-height:680px; position:relative; padding:80px 0px; text-align:left;
			& .wrap{height:580px;}
			& .prod__box-wrap2{padding-top:60px; box-sizing:border-box;}
		}
		&.nth-2-1{min-height:600px; background:url('../images/prod/box2_1.jpg') no-repeat center bottom;  background-size:cover;}
		&.nth-2-3{
			& .wrap{background:url('../images/prod/box2_2.png') no-repeat left center;}
			& .prod__bg{ background:url('../images/prod/box2_2.png') no-repeat center center; background-size:contain;}
		}
		&.nth-2-4{background-color: #f1f4f9;
			& .wrap{background:url('../images/prod/box2_3.png') no-repeat right center;}
			& .prod__bg{ background:url('../images/prod/box2_3.png') no-repeat center center; background-size:contain;}
		}
		&.nth-2-5{
			& .wrap{background:url('../images/prod/box2_4.png') no-repeat left center;}
			& .prod__bg{ background:url('../images/prod/box2_4.png') no-repeat center center; background-size:contain;}
		}
		&.nth-2-6{background-color: #f1f4f9;
			& .wrap{background:url('../images/prod/box2_5.png') no-repeat right center;}
			& .prod__bg{ background:url('../images/prod/box2_5.png') no-repeat center center; background-size:contain;}
		}
		&.nth-2-7{
			& .wrap{background:url('../images/prod/box2_6.png') no-repeat left center;}
			& .prod__bg{ background:url('../images/prod/box2_6.png') no-repeat center center; background-size:contain;}
		}
		&.nth-2-8{background-color: #f1f4f9;
			& .wrap{background:url('../images/prod/box2_7.png') no-repeat right center;}
			& .prod__bg{ background:url('../images/prod/box2_7.png') no-repeat center center; background-size:contain;}
		}
		&.nth-2-9 {text-align:center;
			& .prod__tit{margin-top:0;}
		}
		&.nth-3-1{min-height:600px; background:url('../images/prod/box3_1.jpg') no-repeat center bottom; }
		&.nth-3-3{padding:80px 0 0; background-color:#344560;
			& .wrap{padding-bottom:65px; background:url('../images/prod/box3_2.jpg') no-repeat left bottom;}
			& .prod__bg{ background:url('../images/prod/box3_2_m.jpg') no-repeat center center; background-size:contain;}
		}
		&.nth-3-4{padding:90px 0 80px;}
		&.nth-3-5{background-color:#f1f4f9; text-align:center;
			& .wrap{
				&:after{display:block; clear:both; content:'';}
			}
			& .prod__bg{ background:url('../images/prod/box3_3_m1.jpg') no-repeat center center; background-size:contain;}
			& .prod__box-wrap.type-img{margin:25px 0;}
			& .prod__we-wrap{height:624px; background:url('../images/prod/box3_3.png') no-repeat 284px bottom;}
		}
		&.nth-3-6{text-align:center;
			& .wrap{
				&:after{display:block; clear:both; content:'';}
			}
			& .prod__bg1{ background:url('../images/prod/box3_4_m1.jpg') no-repeat center center; background-size:contain;}
			& .prod__bg2 {background:url('../images/prod/box3_4_m2.jpg') no-repeat center center; background-size:contain;}
			& .prod__box-wrap.type-img{margin:25px 0;}
			& .prod__we-wrap{height:691px; background:url('../images/prod/box3_4.png') no-repeat center top;}
		}
		&.nth-3-7{background-color:#f1f4f9; text-align:center;
			& .wrap{
				&:after{display:block; clear:both; content:'';}
			}
			& .prod__bg{ background:url('../images/prod/box3_5_m.jpg') no-repeat center center; background-size:contain;}
			& .prod__box-wrap.type-img{margin:25px 0;}
			& .prod__we-wrap{height:691px; background:url('../images/prod/box3_5.png') no-repeat left top;}
		}
		&.nth-4-1{min-height:600px; background:url('../images/prod/box4_1.jpg') no-repeat center bottom; }
		&.nth-4-2{padding:0;position:relative; text-align:left;   background-color: #36bcce;
			& .wrap{background:url('../images/prod/box4_2.png') no-repeat left center;}
			& .prod__bg{ background:url('../images/prod/box4_2_m.jpg') no-repeat; background-size:contain;}
			& .prod__box-wrap2{padding:80px 0;}
		}
		&.nth-4-3{min-height:650px; position:relative; text-align:left;   background-color: #f1f4f9;
			& .wrap{background:url('../images/prod/box4_3.png') no-repeat right center;}
			& .prod__bg{ background:url('../images/prod/box4_3_m.jpg') no-repeat; background-size:contain;}
		}
		&.nth-4-4{min-height:650px; position:relative; text-align:left;   background-color: #fff;
			& .wrap{background:url('../images/prod/box4_4.png') no-repeat left center;}
			& .prod__bg{ background:url('../images/prod/box4_4_m.jpg') no-repeat; background-size:contain;}
		}
		&.nth-4-5{min-height:650px; position:relative; text-align:left;   background-color: #f1f4f9;
			& .wrap{background:url('../images/prod/box4_5.png') no-repeat right center;}
			& .prod__bg{ background:url('../images/prod/box4_5_m.jpg') no-repeat; background-size:contain;}
		}
		&.nth-5-1{min-height:600px; background:url('../images/prod/box5_1.jpg') no-repeat center bottom; }
		&.nth-5-2{min-height:600px; position:relative; text-align:left;   background:url('../images/prod/box5_2.jpg') no-repeat left center; background-color: #fff;
			& .prod__bg{ background:url('../images/prod/box5_2_m.jpg') no-repeat center center; background-size:contain;}

			@media only screen and (max-width:1900px) {
				background:none;
				& .prod__box-wrap{padding:460px 0 0; background:url('../images/prod/box5_2_t.jpg') no-repeat top center;}
			}
		}
		&.nth-5-3{min-height:734px; position:relative; text-align:left; background:url('../images/prod/box5_3.jpg') no-repeat center bottom;
			& .prod__bg{ background:url('../images/prod/box5_3_m.jpg'); background-size:contain;}
			& .prod__cont-sub:first-child{margin-top:50px;}
		}
		&.nth-5-4{padding:80px 0 20px;}
	}
	&__box-wrap{width:100%; height:100%; padding-left:50%; box-sizing:border-box;
		&.type-60{padding-left:60%;}
		&.type-img{display:none;}
		&.type-left{padding-left:0; padding-right:50%;
			& .prod__box-wrap2{padding-left:0; text-align:left;}
		}
		&.type-60r{padding-right:60%;}
		&.type-min{min-height:524px; box-sizing:border-box;}
		&.type-min2{min-height:430px; padding-top:60px; box-sizing:border-box;}
	}
	&__box-tit{margin:26px 0 0 0; font-size:24px; color:#363636; font-weight:600;
		&.type-another{color:#fff;}
		& span{font-size:16px; font-weight:400;}
	}
	&__box-wrap2{padding-left:30px; box-sizing:border-box;}
	&__list{height:380px; margin:40px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{height:100%; list-style:none; margin:0; background-color:#fff;
		&:after{display:block; clear:both; content:'';}
		&.nth-1{
			.prod__left-bg{background-image: url('../images/prod/box1_4_1.jpg');}
			.prod__right-bg{background: url('../images/prod/box1_4_1-bg.jpg') no-repeat right bottom;}
			.prod__item-tit:after{background-position:0px 0px}
		}
		&.nth-2{
			.prod__left-bg{background-image: url('../images/prod/box1_4_2.jpg');}
			.prod__right-bg{background: url('../images/prod/box1_4_2-bg.jpg') no-repeat right bottom;}
			.prod__item-tit:after{background-position:0px -30px}
		}
		&.nth-3{
			.prod__left-bg{background-image: url('../images/prod/box1_4_3.jpg');}
			.prod__right-bg{background: url('../images/prod/box1_4_3-bg.jpg') no-repeat right bottom;}
			.prod__item-tit:after{background-position:0px -60px}
		}
	}
	&__item-tit{position:relative; margin:0; font-size:24px; color:#713dd9; font-weight:500;
		&:after{position:absolute; top:-1px; display:inline-block; width:32px; height:30px; margin-left:20px; background:url('../images/prod/banner_icon.png'); content:'';}
	}
	&__item-sub-tit{margin:28px 0 0 0; font-size:28px; color:#000; font-weight:500; line-height:1.5;}
	&__item-txt{margin:18px 0 0 0; font-size:16px; color:#363636; line-height:1.5;}
	// &__left-img{float:left; width:318px; height:100%;  }
	// &__left-bg{overflow:hidden; width:100%; height:100%; text-indent:-9999px;}
	// &__right-box{float:left; width:922px; height:100%;  text-align: left; }
	// &__right-bg{width:100%; height:100%; padding:50px 74px; box-sizing:border-box;}
	&__btn-prev{display:block; overflow:hidden; position:absolute; top:0; bottom:0; left:50px; width:27px; height:53px; margin:auto 0; background:url('../images/common/prev_btn.png'); text-indent:-9999px;
		&:hover{background:url('../images/common/prev_btn_on.png');}
	}
	&__btn-next{display:block; overflow:hidden; position:absolute; top:0; bottom:0; right:50px; width:27px; height:53px; margin:auto 0; background:url('../images/common/next_btn.png'); text-indent:-9999px;
		&:hover{background:url('../images/common/next_btn_on.png');}
	}
	&__icon-list{margin:40px 0 0 -30px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__icon-item{float:left; display:inline-block; width:16.66%; padding:0 0 0 30px; box-sizing:border-box; list-style:none;
		& .prod__icon-txt{
			&:before{display:block; width:130px; height:130px; margin:0px auto 20px;}
		}
		&.nth-1{
			& .prod__icon-txt{
				&:before{ background: url('../images/prod/prod_icon1.png') no-repeat center top; content:'';}
			}
		}
		&.nth-2{
			& .prod__icon-txt{
				&:before{background: url('../images/prod/prod_icon2.png') no-repeat center top; content:'';}
			}
		}
		&.nth-3{
			& .prod__icon-txt{
				&:before{background: url('../images/prod/prod_icon3.png') no-repeat center top; content:'';}
			}
		}
		&.nth-4{
			& .prod__icon-txt{
				&:before{background: url('../images/prod/prod_icon4.png') no-repeat center top; content:'';}
			}
		}
		&.nth-5{
			& .prod__icon-txt{
				&:before{background: url('../images/prod/prod_icon5.png') no-repeat center top; content:'';}
			}
		}
		&.nth-6{
			& .prod__icon-txt{
				&:before{background: url('../images/prod/prod_icon6.png') no-repeat center top; content:'';}
			}
		}
	}
	&__icon-txt{font-size:18px; color:#222;
		& span{display:block; font-size:14px; color:#666666;}
	}

	@media only screen and (max-width:$tablet-size) {
		&__item-tit{font-size:14px;
			&:after{display:none;}
		}
		&__item-sub-tit{margin:14px 0 0 0; font-size:13px; color:#363636; font-weight:500; padding-right:70%; box-sizing:border-box;}
		&__item-txt{display:none;}
		// &__left-img{position:relative; width:100%; height:0; overflow:hidden; padding-bottom:39.31%;}
		// &__left-bg{position:absolute; top:0; left:0;}
		// &__right-box{position:relative; width:100%; height:0; padding-bottom:54.13%;}
		// &__right-bg{position:absolute; top:0; left:0; width:100%; height:100%; padding:20px 15px; box-sizing:border-box; background:url('../images/prod/box1_4_1-bg_m.jpg') no-repeat right bottom; background-size: contain;}
		&__img-tit{margin:30px 0 0 0;
			&.nth-1{width:129px;
				&:after{position:absolute; top:0; right:15px; display:block; width:60px; height:78px; background:url('../images/prod/m_icon-m.png'); background-size:60px 78px; content:'';}
			}
			&.nth-2{width:112px;}
			&.nth-3{width:115px;}
			&.nth-4{width:148px;}
			&.nth-5{width:103px;}
			& img{width:100%}
		}
		&__img-tit2{display:inline-block; }
		&__tit{margin-top:20px; font-size:18px;
			&.type-another{color:#000;}
		}
		&__sub-tit{font-size:18px;
			&.type-another{font-size:21px;}
			&.type-num{padding:0;
				&:after { display: block; position: absolute; bottom: 0; font-size: 50px;  }
			}
		}
		&__cont-tit{padding-bottom:10px; font-size:18px;
			&:after{width:15px; height:1px;}
		}
		&__cont-sub{margin-top:15px; font-size:14px;
			&.type-fs28{margin-top:5px;font-size:14px;
				& + .prod__txt.type-fs13, & + .prod__txt.type-fs13.type-m50{margin-top:5px;}
			}
		}
		&__box-tit{margin:15px 0 0 0; font-size:13px;
			&.type-another{color:#363636;}
			& span{font-size:13px;}
		}
		&__txt{margin-top:15px; font-size:12px;
			&.type-another{font-size:13px; color:#000;}
			& + .prod__txt.type-another{margin-top:20px;}
			&.hidden{display:none;}
			&.type-fs13{margin-top:10px; font-size:13px;
				& + .prod__cont-sub.type-fs28{margin-top:36px;}
			}
			& + .prod__cont-tit{margin-top:30px;}
			& + .prod__cont-sub{margin-top:30px;}
			& + .prod__we-sub-tit{margin-top:20px;}
		}
		// &__bg{max-width:640px;}
		&__we-txt{font-size:12px;}
		&__we-tit{position:relative; margin-top:10px; font-size:21px;  }
		&__we-sub-tit{font-size:14px;}
		&__we-subject{ margin-bottom:15px; padding-bottom:10px; font-size:18px;
			&:after{position:absolute; left:0; bottom:0; display:block; width:15px; height:1px; background-color:#000; content:'';}
		}
		&__we-img{margin-top:10px; width:125px; height:26px;}
		&__we-wrap{background-image:none;}
		&__menu-list{min-height:460px;position:relative; width:50%; padding:19px 7px 19px 0; box-sizing:border-box;
			&:after{position:absolute; top:0; left:100%; width:100%; height:100%; background:url('../images/prod/box3_3_m2.jpg') no-repeat 7px bottom; background-size:100px 460px; content:'';}
		}
		&__menu-item{font-size:13px;
			& + .prod__menu-item{margin-top:15px;}
			& + .prod__menu-item.type-another{margin-top:32px;}
		}
		&__btn{margin-top:20px; width:118px; height:32px; font-size:12px; color:#000; border:1px solid #000;
			& span{margin-top:3px;
				&:after{top:-1px; width:11px; height:11px; background:url('../images/prod/blank_icon_m.png'); background-size:11px 11px;}
			}
			& i {margin-left:5px;}
			&.type-user{margin-left:8px;
				& > span{
					& .fa{padding-left:8px;}
				}
			}
		}
		&__left-box, &__right-box, &__right-box.type-another{float:none; width:100%;}
		&__right-box{margin-top:30px;
			& .prod__txt{margin-top:10px;}
			&.type-another{padding:0;}
		}
		&__box {min-height:auto !important; padding:40px 0;
			&.nth-1{padding-top:0px; background-image:none; background-color:#f1f4f9;
				& .prod__bg{background:url('../images/prod/box1_1_m.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-2{padding:25px 0px;
				&.type-two{text-align:center;
					& .prod-v2__list{position:static; width:100%; margin-top:20px;}
					& .prod-v2__item{width:50%;}
				}
			}
			// &.nth-3{padding:0px 0px;}
			&.nth-4{padding:0 0 40px 0; background-image:none;
				& .prod__img-tit2{width:161px; height:30px; background:url('../images/prod/genietalk_tit6_m.png') no-repeat center bottom; background-size: 161px; height:30px;}
			}
			&.nth-6{padding:0 0 50px 0; background-image:none;
				& .prod__img-tit2{width:160px; height:29.5px; background:url('../images/prod/genietalk_tit10_m.png') no-repeat center bottom; background-size: 160px; height:30px;}
			}
			&.nth-2-1{padding-top:0px; background-image:none; background-color:#f1f4f9;
				& .prod__bg{background:url('../images/prod/box2_1_m.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-2-9{padding:40px 0 50px;}
			&.nth-2-fix{padding:40px 0;
				& .wrap{height:auto; background: none;}
				& .prod__box-wrap2{padding-top:0px; margin-top:40px;}
			}
			&.nth-3-1{padding-top:0px; background-image:none; background-color:#f1f4f9;
				& .prod__bg{background:url('../images/prod/box3_1_m.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-3-3{padding:40px 0 0;
				& .wrap{background-image:none; padding-bottom:25px;}
				& .prod__box-wrap2{margin-top:0;}
			}
			&.nth-3-4{padding:60px 0 40px;}
			&.nth-3-5{
				& .prod__we-wrap{height:auto; background-image:none;}
			}
			&.nth-3-6{
				& .prod__we-wrap{height:auto; background-image:none;}
			}
			&.nth-3-7{padding:40px 0px 50px;
				& .prod__we-wrap{height:auto; background-image:none;}
			}
			&.nth-4-1{padding-top:0px; background-image:none; background-color:#f1f4f9;
				& .prod__bg{background:url('../images/prod/box4_1_m.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-4-2{padding:40px 0; height:auto;
				& .wrap{background-image:none;}
				& .prod__box-wrap2{padding:0;}
			}
			&.nth-4-3{
				& .wrap{background-image:none;}
			}
			&.nth-4-4{
				& .wrap{background-image:none;}
			}
			&.nth-4-5{padding:40px 0px 50px;
				& .wrap{background-image:none;}
			}
			&.nth-5-1{padding-top:0px; background-image:none; background-color:#f1f4f9;
				& .prod__bg{background:url('../images/prod/box5_1_m.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-5-2{ background-image:none;
				& .prod__box-wrap2{margin-top:0;}
				& .prod__box-wrap{padding:0; background:none;}
			}
			&.nth-5-3{ background-image:none; background-color:#f1f4f9;
				& .prod__cont-sub:first-child{margin-top:0px;}
			}
			&.nth-5-4{padding:56px 0px 50px;}
		}
		&__box-wrap{width:100%; padding-left:0%; box-sizing:border-box;
			&.type-img{position:relative; overflow:hidden; height:0; padding-bottom:47%; display:block;
				&.type-220{padding-bottom:34.37%;}
				&.type-270{padding-bottom:42.18%;}
				&.type-300{padding-bottom:47%;}
				&.type-400{padding-bottom:62.5%;}
				&.type-424{padding-bottom:66.25%;}
				&.type-384w{padding-bottom:66.20%;}
				&.type-466w{padding-bottom:80.34%;}
				&.type-480{padding-bottom:75%;}
				&.type-580{padding-bottom:68.96%;}
				&.type-538{padding-bottom:84.06%;}
				&.type-578{padding-bottom:90.31%;}
				&.type-614w{padding-bottom:105.86%;}
				&.type-700{padding-bottom:91.42%;}
				&.type-812w{padding-bottom:140%;}
			}
			&.type-left{padding-right:0%;}
			&.type-min,&.type-min2{padding-top:0; min-height:auto;}
			&.type-60,&.type-60r{padding-left:0; padding-right:0;}
		}
		&__bg{position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; margin:auto; text-indent:-9999px;}
		&__box-wrap2{margin-top:30px; padding-left:0px; box-sizing:border-box;}
		&__btn-prev{display:none;}
		&__btn-next{display:none;}
		&__icon-list{margin:20px 0 0 -15px; box-sizing: border-box;}
		&__icon-item{width:33.33%; padding:0 0 0 15px;
			& .prod__icon-txt{
				&:before{display:block; width:65px; height:65px; margin:0px auto 10px; background-size:65px 65px !important;}
			}
		}
		&__icon-txt{font-size:12px;
			& span{display:none;}
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__menu-list{min-height:345px;position:relative; width:50%; padding:15px 7px 15px 0; box-sizing:border-box;
			&:after{position:absolute; top:0; left:100%; width:100%; height:100%; background:url('../images/prod/box3_3_m2.jpg') no-repeat 7px bottom; background-size:75px 345px; content:'';}
		}
		&__menu-item{font-size:12px;
			& + .prod__menu-item{margin-top:9px;}
			& + .prod__menu-item.type-another{margin-top:18px;}
		}
	}
}
.prod-v1{
	&__list{margin:30px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; margin:0; list-style:none;
		& + .prod-v1__item{margin-left:10px;}
	}
	&__link{-webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; width:192px; height:64px; padding:0 10px; /* padding:6px 5px 7px 5px; */ border:1px solid #7b7c78; color: #222222; text-align: center; vertical-align: middle; font-size: 16px; font-weight:500; cursor: pointer; line-height:1;
		text-indent:0; border-radius: 70px 70px 70px 70px; transition: all 0.5s;-webkit-transition: all 0.5s;
		&:after{display:inline-block;height:100%; vertical-align:middle; content:'';}
		& > .prod-v1__wrap{display:inline-block; vertical-align:middle;}
		&:active .prod-v1__wrap, .prod-v1__link:focus .prod-v1__wrap{position:relative;}
		&:hover{color:#fff; background-color:#713dd9; border:1px solid #713dd9;}
		& i{margin-left:10px;}
		&.type-another{border:1px solid #fff; color:#fff;}
	}
	&__link-v2{
		-webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; width:192px; height:64px; padding:0 10px; border:1px solid #fff; color:#fff; text-align: center; vertical-align: middle; font-size: 16px; cursor: pointer; line-height:1;
		text-indent:0; border-radius: 70px 70px 70px 70px; transition: all 0.5s;-webkit-transition: all 0.5s;
		&:after{display:inline-block;height:100%; vertical-align:middle; content:'';}
		& > .prod-v1__wrap{display:inline-block; vertical-align:middle;}
		&:active .prod-v1__wrap, .prod-v1__link:focus .prod-v1__wrap{position:relative;}
		& i{margin-right:10px;}
	}
	@media only screen and (max-width:$tablet-size) {
		&__list{margin-top:20px;}
		&__item{width:141px; box-sizing: border-box;
			& + .prod-v1__item{margin-left:15px;}
		}
		&__link{width:100%; height:32px; font-size:12px;  text-align: center;
			& i{margin-left:5px;}
		}
		&__link-v2{width:118px; height:32px; font-size:12px;}
	}
	@media only screen and (max-width:330px) {
		&__item{width:130px;}
	}
}
.prod-v2{
	&__list{margin:40px 0 0 -30px; padding:0; font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{display:inline-block; width:25%; padding-left:30px; margin:0; list-style:none; box-sizing: border-box;
		&.nth-1 .prod-v2__link{background:url('../images/prod/btn_img1.png') no-repeat center center;}
		&.nth-2 .prod-v2__link{background:url('../images/prod/btn_img2.png') no-repeat center center;}
		&.nth-3 .prod-v2__link{background:url('../images/prod/btn_img3.png') no-repeat center center;}
		&.nth-4 .prod-v2__link{background:url('../images/prod/btn_img4.png') no-repeat center center;
			&.type-another{background:url('../images/prod/btn_img5.png') no-repeat center center;}
		}
	}
	&__link{-webkit-box-sizing:border-box; box-sizing:border-box; overflow:hidden; position:relative; display: inline-block; width:100%; height:76px; padding:0 10px; /* padding:6px 5px 7px 5px; */ border:1px solid #000;  color: #666666; text-align: center; vertical-align: middle; font-size: 16px; cursor: pointer; line-height:1;
		text-indent:-9999px; border-radius: 5px 5px 5px 5px;
		&:after{display:inline-block;height:100%; vertical-align:middle; content:'';}
		& > span{display:inline-block; vertical-align:middle;
			& i{margin-right:10px;}
		}
		&:active span, .prod-v2__link:focus span{position:relative;}
	}
	@media only screen and (max-width:$tablet-size) {
		&__link{height:55px;}
		&__list{margin:20px 0 0 -10px;}
		&__item{padding-left:10px;
			&.nth-1{width:50%;
				& .prod-v2__link{background:url('../images/prod/btn_img1_m.png') no-repeat center center; background-size:97.5px 23px;}
			}
			&.nth-2{width:50%;
				& .prod-v2__link{background:url('../images/prod/btn_img2_m.png') no-repeat center center; background-size:86.5px 23.5px;}
			}
			&.nth-3{margin-top:10px; width:100%;
				& .prod-v2__link{background:url('../images/prod/btn_img3_m.png') no-repeat center center; background-size:116px 25.5px;}
			}
			&.nth-4{display:none;}
		}
	}
}
.prod-v3{
	&__list{margin:0 0 0 -30px; padding:0; list-style: none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:50%; min-height:240px; padding-left:30px; box-sizing: border-box;
		&.nth-2{
			& .prod-v3__wrap{
				&:before{background-position: 0px -130px;}
			}
		}
		&.nth-3{
			& .prod-v3__wrap{
				&:before{background-position: 0px -260px;}
			}
		}
		&.nth-4{
			& .prod-v3__wrap{
				&:before{background-position: 0px -390px;}
			}
		}
	}
	&__wrap{position:relative; padding-left:180px; box-sizing:border-box;
		&:before{position:absolute; top:0; left:25px; right:0; width:130px; height:130px; content:''; background-image:url('../images/prod/box5_icon.jpg');}
	}
	&__tit{margin:0; font-size:24px; color:#00a39f; font-weight:600;}
	&__txt{margin:10px 0 0; font-size:16px; color:#363636; line-height:1.6;}
	@media only screen and (max-width:$tablet-size) {
		&__list{margin:0;}
		&__item{width:100%; padding-left:0; min-height:auto;
			& + .prod-v3__item{margin-top:56px;}
			&.nth-2{
				& .prod-v3__tit{
					&:before{background-position: 0px -39px;}
				}
			}
			&.nth-3{
				& .prod-v3__tit{
					&:before{background-position: 0px -78px;}
				}
			}
			&.nth-4{
				& .prod-v3__tit{
					&:before{background-position: 0px -117px;}
				}
			}
		}
		&__wrap{padding-left:0px;
			&:before{background:none;}
		}
		&__tit{position:relative; padding-left:44px; font-size:15px;
			&:before{position:absolute; left:0; bottom:-4px; width:33px; height:39px; background-image:url('../images/prod/box5_icon_m.jpg'); background-size:33px 156px; content:'';}
		}
		&__txt{margin-top:5px; font-size:13px;}

	}
}
.prod-v4{margin-left:-30px;
	// &__box{float:left; display:inline-block; width:50%; padding-left:30px; box-sizing:border-box;}
	&.type-green{
		& .prod-v4__wrap{
			&:before{position:absolute; top:0; left:0px; right:0; width:130px; height:130px; content:''; background-image:url('../images/prod/box5_icon.jpg');}
		}
		& .prod-v4__tit{color:#00a39f;
			&:after{color:rgba(0,163,159,0.1);}
		}
		& .prod-v4__item{
			&.nth-2{
				& .prod-v4__tit{
					&:before{background-position: 0px -39px;}
				}
			}
			&.nth-3{
				& .prod-v4__tit{
					&:before{background-position: 0px -78px;}
				}
			}
			&.nth-4{
				& .prod-v4__tit{
					&:before{background-position: 0px -117px;}
				}
			}
		}
	}
	&__wrap{position:relative; padding:44px 0 0 160px; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0px; right:0; width:130px; height:130px; content:''; background-image:url('../images/prod/box3_icon.jpg');}
	}
	&__list{position:relative; margin:0; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:50%; padding-left:30px; min-height:250px; box-sizing:border-box;
		&.type-another{position:absolute; left:0; top:500px;}
		&.nth-2{
			& .prod-v4__wrap{
				&:before{background-position: 0px -130px;}
			}
			& .prod-v4__tit{
				&:before{background-position: 0px -32px;}
				&:after{content:'02'}
			}
		}
		&.nth-3{
			& .prod-v4__wrap{
				&:before{background-position: 0px -260px;}
			}
			& .prod-v4__tit{
				&:before{background-position: 0px -64px;}
				&:after{content:'03'}
			}
		}
		&.nth-4{
			& .prod-v4__wrap{
				&:before{background-position: 0px -390px;}
			}
			& .prod-v4__tit{
				&:before{background-position: 0px -96px;}
				&:after{content:'04'}
			}
		}
		&.nth-5{
			& .prod-v4__wrap{
				&:before{background-position: 0px -520px;}
			}
			& .prod-v4__tit{
				&:before{background-position: 0px -128px;}
				&:after{content:'05'}
			}
		}
	}
	&__tit{position:relative; margin:0; font-size:24px; color:#0a56a9; font-weight:600;
		&:after{display:block; position:absolute; left:0px; bottom:-9px; font-size:100px; font-weight:600; color:rgba(10,86,169,0.1); line-height:1; content:'01'}
	}
	&__sub-tit{margin:20px 0 0 0; font-size:18px; color:#000000; font-weight:600;}
	&__txt{margin:10px 0 0 0; color:#363636;
		& + .prod-v4__sub-tit{margin-top:30px;}
	}
	&:after{display:block; clear:both; content:'';}
	@media only screen and (max-width:$tablet-size) {margin:0;
		// &__box{padding:0; width:100%;
		// 	& + .prod-v4__box{margin-top:40px;}
		// }
		&.type-green{
			& .prod-v4__tit{
				&:before{position:absolute; left:0; bottom:-4px; width:33px; height:39px; background-image:url('../images/prod/box5_icon_m.jpg'); background-size:33px 156px; content:'';}
			}
		}
		&__wrap{padding:0;
			&:before{display:none;}
		}
		&__item{width:100%; min-height:auto; padding:0;
			&.type-another{position:static; top:auto; left:auto;}
			& + .prod-v4__item{margin-top:40px;}
		}
		&__tit{position:relative; padding-left:48px; font-size:15px; font-weight:600;
			&:before{position:absolute; left:0; bottom:0; width:32px; height:32px; background-image:url('../images/prod/box3_icon_m.jpg'); background-size: 32px 160px; content:'';}
			&:after{display:block; position:absolute; left:48px; bottom:0; font-size:50px; content:'01'}
		}
		&__sub-tit{margin-top:15px; font-size:14px;}
		&__txt{margin-top:10px; font-size:13px;
			& + .prod-v4__sub-tit{margin-top:20px;}
		}
	}
}
