@charset "UTF-8";
@import "variables";
@import "mixins";
.header{height:80px;}
/*메인*/
.main{
	&__box{
		& .bx-wrapper{position:absolute; top:0; height:100%; width:100%;}
	}
	&__visual{position:relative; padding:0; margin:0; height:100%;
		@media only screen and (max-width:$tablet-size) {position:absolute;top:0;bottom:0;left:0;right:0;}
	}
	&__slider{list-style:none;}
	&__slider-tit{margin-top:-130px; margin-left:-600px; font-size:100px; font-weight:100; color:#4d2ee6; opacity: 0; transition:all 0.5s; -webkit-transition:all 0.5s;
		& strong{color:#e62e71; font-weight:400;}
		&.is-active{margin-left:0; opacity: 1;}
	}

	&__slider-txt{display:inline-block; margin-top:40px; font-size:20px; color:#222222;  margin-right:-600px;  opacity: 0;transition:all 0.5s; -webkit-transition:all 0.5s;
		&.is-active{margin-right:0; opacity: 1;}
	}
	&__slider-btn{position:absolute; bottom:134px; left:0; right:0; display:inline-block; width:202px; height:64px; margin:0 auto; background-color:#e62117; color:#fff; font-size:16px; line-height:64px; border-radius: 32px 32px 32px 32px; text-decoration: none;
		text-align:center;
		& span{position:relative; padding-left:47px;
			&:before{position:absolute; top:0; bottom:0; left:0; margin:auto 0; width:38px; height:27px; background:url('../images/main/video.png'); content:'';}
		}
		@media only screen and (max-width:$tablet-size) {bottom:90px;}
	}

	&__list{padding:0; margin:0; padding-top:80px; box-sizing:border-box;-webkit-box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size) {
		&__slider-tit{font-size:60px;}
		&__slider-txt{width:auto; margin-top:20px;font-size:16px;}
		&__slider-btn{margin-top:30px; width:150px; height:44px; line-height:44px; font-size:16px;
			& span{padding-left:24px;
				&:before{width:19px; height:13px; background-size:19px 13px;}
			}
		}
		&__list{padding-top:44px;}
	}
	@media only screen and (max-width:$mobile-size) {
		&__slider-tit{font-size:40px;}
		&__slider-txt{width:auto; margin-top:14px;font-size:12px;}
		&__slider-btn{margin-top:20px; width:125px; height:32px; line-height:32px; font-size:12px;
			& span{padding-left:24px;
				&:before{width:19px; height:13px; background-size:19px 13px;}
			}
		}
		&__list{padding-top:44px;}
	}
	&__list{font-size:0;}
	&__item{position:relative; display:inline-block; overflow:hidden; width:100%; height:70px; list-style:none; transition:all 0.5s; -webkit-transition:all 0.5s;
		@media only screen and (max-width:$tablet-size) {height:55px;}
		@media only screen and (max-width:$mobile-size) {height:45px;}
		&.nth-1{
			& .main__item-bg{background:url('../images/main/main_bg1.jpg') no-repeat center center; background-size:auto;
				// &:before { z-index:-1; position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background-color:#fff; content:''; }
			}
			& .main__header{background-color:#4d2ee6;}
		}
		&.nth-2{
			& .main__item-bg{width:100%; height:100%;
				&:before{position:absolute; width:100%; height:30px; background-color:#713dd9; content:'';
					@media only screen and (max-width:$tablet-size) {height:20px;}
					@media only screen and (max-width:$mobile-size) {height:10px;}
				}
				&.nth-1{background:url('../images/main/main_bg2_1.jpg') no-repeat center center;}
				&.nth-2{background:url('../images/main/main_bg2_2.jpg') no-repeat center center;}
				&.nth-3{background:url('../images/main/main_bg2_3.jpg') no-repeat center center;}
				&.nth-4{background:url('../images/main/main_bg2_4.jpg') no-repeat center center;}
				&.nth-5{background:url('../images/main/main_bg2_5.jpg') no-repeat center center;}
			}
			& .main__header{background-color:#713dd9;}
		}
		&.nth-3{
			& .main__item-bg{background-color:#e5eeff;
				&:before{position:absolute; width:100%; height:30px; background-color:#3d6dcc; content:'';
					@media only screen and (max-width:$tablet-size) {height:20px;}
					@media only screen and (max-width:$mobile-size) {height:10px;}
				}
			}
			& .main__header{background-color:#3d6dcc;}
		}
		&.nth-4{
			& .main__item-bg{background-color:#e8dcff;
				&:before{position:absolute; width:100%; height:30px; background-color:#e62e71; content:'';
					@media only screen and (max-width:$tablet-size) {height:20px;}
					@media only screen and (max-width:$mobile-size) {height:10px;}
				}
			}
			& .main__header{background-color:#e62e71;}
			& .main__slider-wrap{overflow:hidden;
				@media only screen and (max-width:$tablet-size) {overflow:visible;}
			}
		}
		&.is-active{height:790px;
			& .main__header{display:none;}
			& .main__item-bg{display:block;}
			& .main3__box{overflow:visible; height:auto;}
		}
		@media only screen and (max-width:$tablet-size) {
			&.nth-1{
				& .main__item-bg{background:url('../images/main/main_bg1_m.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-2{
				& .main__item-bg{
					&.nth-1{background:url('../images/main/main_bg2_1_m.jpg') no-repeat center center; background-size:cover;
						& .main2__slider-img{width:144px;}
					}
					&.nth-2{background:url('../images/main/main_bg2_2_m.jpg') no-repeat center center; background-size:cover;
						& .main2__slider-img{width:112px;}
					}
					&.nth-3{background:url('../images/main/main_bg2_3_m.jpg') no-repeat center center; background-size:cover;
						& .main2__slider-img{width:116px;}
					}
					&.nth-4{background:url('../images/main/main_bg2_4_m.jpg') no-repeat center center; background-size:cover;
						& .main2__slider-img{width:181px;}
					}
					&.nth-5{background:url('../images/main/main_bg2_5_m.jpg') no-repeat center center; background-size:cover;
						& .main2__slider-img{width:92px;}
					}
				}
			}
			&.is-active{top:0;height:0;padding-top:121.5625%;}
		}
	}
	&__header{position:absolute; top:0; left:0; width:100%; z-index:800;}
	&__header-wrap{display:table-cell; height:70px; width:1%;  vertical-align:middle; color:#fff; font-size:24px; background:url('../images/main/btn_down.png') no-repeat center right; text-decoration:none; font-weight:600;
		@media only screen and (max-width:$tablet-size) {height:45px; font-size:16px; box-sizing:border-box; background:url('../images/main/btn_down_m.png') no-repeat center right; background-size:25px 25px;	}
		@media only screen and (max-width:$mobile-size) {height:45px; font-size:12px; box-sizing:border-box; background:url('../images/main/btn_down_m.png') no-repeat center right; background-size:25px 25px;	}
		&.is-active{background:url('../images/main/btn_up.png') no-repeat center right;
			@media only screen and (max-width:$tablet-size) {background:url('../images/main/btn_up_m.png') no-repeat center right; background-size:25px 25px;}
		}
	}
	&__item-bg{ position:absolute; top:0;left:0; width:100%; height:100%; background-size:cover;
		@media only screen and (max-width:$tablet-size) {background-size:auto 100%; background-position:center bottom;}
	}
	&__slider{position:relative;width:100%;height:100%; overflow:hidden;
		@media only screen and (max-width:$tablet-size) {}
	}
	&__slider-wrap{display:table-cell; vertical-align:middle; text-align:center;}
	&__slider-vertical{display:table; width:100%; height:100%;}
	// &__visual-img1{opacity:0; margin-top:44px; margin-right:300px; transition: all 0.5s; -webkit-transition: all 0.5s;
	// 	@media only screen and (max-width:$tablet-size) {width:202px; height:132px;}
	// 	&.is-active{opacity:1; margin-right:0;}
	// }
	// &__visual-img2{opacity:0; margin-top:50px; margin-left:300px; transition: all 0.5s; -webkit-transition: all 0.5s;
	// 	&.is-active{opacity:1; margin-left:0;}
	// }
	// &__visual-btn1{margin-top:120px;}
	&__more{overflow:hidden; display:inline-block; width:64px; height:64px; margin-top:30px; background:url('../images/main/plus_btn.png') no-repeat center center; background-color:#3d6dcc; border-radius: 32px 32px 32px 32px; color:#fff; font-size:18px; text-align:center; line-height:64px;
		text-indent:-500px; transition: all 0.5s; -webkit-transtion:all 0.5s; text-decoration:none;
		&.type-another{background-color:#713dd9;
			&:hover{width:180px; text-indent: 0; background-image:none;}
		}
		&.type-color1{background-color:#3d6dcc;}
		&.type-color2{background-color:#e62e71;}
		@media only screen and (max-width:$tablet-size) {float:right; margin-top:-3px;
			width:32px; height:32px; background-size:16px 16px; line-height:32px; font-size:12px;
			&.type-another{float:none; margin-top:15px;
				&:hover{width:90px;}
			}
			&.type-color1{float:right; margin-top:-3px;}
		}
	}
}
.main2{
	&__visual{padding:0; margin:0; height:100%;
		@media only screen and (max-width:$tablet-size) {position:absolute;top:0;bottom:0;left:0;right:0;}
	}
	&__slider{position:relative;width:100%;height:100%;overflow:hidden; list-style:none;}
	&__slider-tit{margin-top:90px; font-size:56px; color:#713dd9; font-weight:600;
		& strong{color:#e62e71; font-weight:400;}
	}
	&__slider-img{margin-top:40px;}
	&__slider-txt{display:inline-block; margin-top:25px; font-size:42px; font-weight:600; color:#000;}
	&__btn-prev{display:block; overflow:hidden; position:absolute; top:0; bottom:0; left:50px; width:27px; height:53px; margin:auto 0; background:url('../images/common/prev_btn.png'); text-indent:-9999px;
		&:hover{background:url('../images/common/prev_btn_on.png');}
	}
	&__btn-next{display:block; overflow:hidden; position:absolute; top:0; bottom:0; right:50px; width:27px; height:53px; margin:auto 0; background:url('../images/common/next_btn.png'); text-indent:-9999px;
		&:hover{background:url('../images/common/next_btn_on.png');}
	}
	@media only screen and (max-width:$tablet-size) {
		&__slider-tit{margin-top:55px;font-size:36px;}
		&__slider-img{margin-top:40px; width:187px;}
		&__slider-txt{width:auto; margin-top:20px;font-size:30px;}
		&__btn-prev{display:none;}
		&__btn-next{display:none;}
	}
	@media only screen and (max-width:$mobile-size) {
		&__slider-tit{margin-top:35px;font-size:23px;}
		&__slider-img{margin-top:25px; width:144px; height:27px;}
		&__slider-txt{width:auto; margin-top:14px;font-size:21px;}
		&__btn-prev{display:none;}
		&__btn-next{display:none;}
	}
}

.event{
	&__tit{margin:0; font-size:56px; color:#e62e71; text-align:left; font-weight:600;}
	&__slider{position:relative; margin-left:-30px;}
	&__list{position:relative; margin:70px 0 0 0px; padding:0; list-style:none;
		&.type-main{
			& .event__wrap{border:none;}
		}
		&.type-content{margin-top:-30px; margin-left:-30px;
			& .event__item{float:left; width:33.33%; margin-top:30px;}
			&:after{display:block; clear:both; content:'';}
			@media only screen and (max-width:$tablet-size) {position:static; width:100%; margin:0;
				& .event__item{width:100%; margin-top:0; padding-left:0; border-bottom:1px solid #ededed; box-sizing:border-box;
					& + .event__item{padding-top:20px;}
				}
				& .event__wrap{border:none;}
				& img{border:1px solid #ededed; box-sizing:border-box;}
			}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{padding-left:30px; box-sizing:border-box;}
	&__wrap{background-color:#fff; border:1px solid #c7c7c7;}
	&__img{position:relative;
		& img{width:100%; border-bottom:1px solid #dfdfdf;}
	}
	&__box{position:relative; padding:30px 20px; box-sizing:border-box; text-align:left;}
	&__box-tit{overflow:hidden; margin:0; font-size:20px; color:#000; font-weight:500; white-space: nowrap; text-overflow: ellipsis;}
	&__box-date{margin:30px 0 0 0; font-size:16px; color:#767676;}
	&__link{overflow:hidden; display:inline-block; width:64px; height:64px; margin-top:80px; background:url('../images/main/more_btn.png'); text-indent:-999px;}
	&__close{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8);}
	&__close-box{display:table; height:100%;}
	&__close-wrap{display:table-cell; width:1%; vertical-align:middle; text-align:center;}
	&__close-txt{margin:0; color:#fff; font-size:16px;}
	&__close-tit{margin:14px 0 0 0; color:#fefc00; font-size:30px; font-weight:500;}
	&__btn{position:absolute; bottom:25px; right:20px; height:30px; width:115px; background-color:#4d2ee6; color:#fff; line-height:30px; border-radius: 5px 5px 5px 5px; text-align:center; font-size:14px;}
	// &__item{float:left; width:33.33%;}
	@media only screen and (max-width:$tablet-size) {
		&__box{padding:20px 15px;}
		&__tit{font-size:36px;}
		&__slider{ margin-top:25px; margin-right:35%; margin-left:0;}
		&__list{width: 99999px; position: absolute; top: 0; left: 0; overflow: hidden; margin:0px 0 0 -15px;}
		&__item{padding-left:15px;}
		&__box-tit{font-size:18px;}
		&__box-date{margin-top:20px; font-size:15px; padding-bottom:40px;}
		&__link{margin-top:30px; width:32px; height:32px; background-size:32px 32px;}
		&__close-txt{font-size:16px;}
		&__close-tit{font-size:24px;}
		&__btn{bottom:15px; left:15px; width:90px; height:34px; line-height:34px; font-size:16px;}
	}
	@media only screen and (max-width:$mobile-size) {
		&__box{padding:20px 15px;}
		&__tit{font-size:28px;}
		&__slider{ margin-top:25px; margin-right:35%;}
		&__list{width: 99999px; position: absolute; top: 0; left: 0; overflow: hidden; margin:0px 0 0 -15px;}
		&__item{padding-left:15px;}
		&__box-tit{font-size:15px;}
		&__box-date{margin-top:15px; font-size:12px; padding-bottom:26px;}
		&__link{margin-top:30px; width:32px; height:32px; background-size:32px 32px;}
		&__close-txt{font-size:12px;}
		&__close-tit{font-size:18px;}
		&__btn{bottom:15px; left:15px; width:76px; height:26px; line-height:26px; font-size:12px;}
	}
}
.video{
	&__btn{display:inline-block; margin-top:50px; font-size:16px; color:#fff; padding:23px 30px; background-color:#e62117; border-radius:34px 34px;}
}

.main3{
	&__header{position:relative; padding-bottom:70px; border-bottom:1px solid #cbddff;
		&:after{display:block; clear:both; content:'';}
	}
	&__bottom{padding-top:40px; border-top:1px solid #fff;}
	&__tit{margin:0; font-size:56px; color:#3d6dcc; font-weight:600;}
	&__box{overflow:hidden; height:0;float:left; text-align:left;
		&.nth-1{width:320px; }
		&.nth-2{margin-top:20px; width:920px;}
	}
	&__news{padding:0;}
	&__news-item{list-style:none;}
	&__news-tit{overflow:hidden; margin:0;  width:920px; font-size:30px; color:#000000; font-weight:400; text-overflow: ellipsis; white-space: nowrap;}
	&__news-txt{ overflow: hidden;  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;  word-wrap:break-word; height:4.8em; margin:30px 0px 0px 0px; font-size:16px; color:#363636; line-height:1.6em;}
	&__news-date{margin:40px 0px 0px 0px; font-size:14px; color:#767676;
		& span{float:left; display:inline-block;}
		& span + span:before{margin:0px 10px;content:'|'}
		&:after{display:block; clear:both; content:'';}
	}
	&__sns{margin:0 0 0 -30px; position:relative; overflow:hidden;
		@media only screen and (max-width:$tablet-size) {width:auto; position:relative; overflow: visible; margin: 0; margin-right:35%;}
	}
	@media only screen and (max-width:$tablet-size) {
		&__header{padding-bottom:13px;}
		&__bottom{padding-top:13px;}
		&__tit{display:inline-block; font-size:36px;}
		&__news-tit{width:auto; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap:break-word; height:1.6em; line-height:1.6em; font-size:18px; white-space:normal;}
		&__news-txt{-webkit-line-clamp: 2; margin:20px 0px 0px 0px;  font-size:16px; height:3.2em;}
		&__news-date{margin:20px 0px 0px 0px; font-size:15px;}
		&__box{
			&.nth-1{width:100%; }
			&.nth-2{margin-top:20px; width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__header{padding-bottom:13px;}
		&__bottom{padding-top:13px;}
		&__tit{display:inline-block; font-size:23px;}
		&__news-tit{width:auto; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap:break-word; height:1.6em; line-height:1.6em; font-size:15px; white-space:normal;}
		&__news-txt{-webkit-line-clamp: 2; margin:10px 0px 0px 0px;  font-size:13px; height:3.2em;}
		&__news-date{margin:10px 0px 0px 0px; font-size:12px;}
		&__box{
			&.nth-1{width:100%; }
			&.nth-2{margin-top:20px; width:100%;}
		}
	}
	@media only screen and (max-width:$iphone-size) {
		&__news-date{margin:5px 0px 0px 0px; font-size:12px;}
		&__box{
			&.nth-1{width:100%; }
			&.nth-2{margin-top:10px;}
		}
	}
}
.sns{
	&__tit{display:block; position:relative; margin:0; color:#4267b2; font-size:18px; font-weight:normal;
		// &:after{position:absolute; top:0; bottom:0; width:11px; height:11px; margin:auto 0 auto 5px; background:url('../images/main/sns-icon_off.png'); content:'';}
		&:before{position:absolute; right:0; top:0; bottom:0; width:32px; height:32px; margin:auto 0; background:url('../images/main/sns_off.png'); content:'';}
		& i{margin-left:5px;}
	}
	&__list{position:relative; width:100%; margin:0; padding:0; list-style:none; text-align:left;
		&.type-main{
			& .sns__wrap{border:none;}
		}
		@media only screen and (max-width:$tablet-size) {margin-left:-15px;}
		&.type-content{margin-top:-30px; margin-left:-30px; width:auto;
			& .sns__item{float:left; width:33.33%; margin-top:30px;}
			&:after{display:block; clear:both; content:'';}
			@media only screen and (max-width:$tablet-size) {position:static; width:100%; margin:0;
				& .sns__item{width:100%; margin-top:0; padding-left:0; border-top:1px solid #ededed;}
				& .sns__wrap{border:none;}
			}
		}
	}
	&__item{padding-left:30px; box-sizing:border-box;
		@media only screen and (max-width:$tablet-size) {padding:1px; padding-left:15px;}
	}
	&__wrap{position:relative; padding:20px; box-sizing:border-box; background-color:#ffffff; border-radius:5px; border:1px solid #c7c7c7;

		&.is-active{background-color:#3d6dcc;
			& .sns__tit{color:#fff;
				&:after{background:url('../images/main/sns-icon_on.png'); content:'';}
				&:before{ background:url('../images/main/sns_on.png'); content:'';}
			}
			& .sns__txt{color:#fff;}
			& .sns__date{color:#fff;}
		}
	}
	&__link{position:absolute; top:0; left:0; width:100%; height:100%; z-index:50;}
	&__txt{overflow: hidden;  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;  word-wrap:break-word; height:4.8em; line-height:1.6em; margin:30px 0px 0px 0px; font-size:16px; color:#363636;}
	&__date{margin:40px 0px 0px 0px; font-size:14px; color:#363636;}

	/*태블릿추가*/
	@media only screen and (max-width:$tablet-size) {
		&__wrap{
			&.is-active{
				& .sns__tit{
					&:before{width:18px; height:18px; background-size:18px 18px;}
				}
			}
		}
		&__list{width: 99999px; position: absolute; top: 0; left: 0; overflow: hidden; }
		&__tit{font-size:18px;
			&:before{width:18px; height:18px; background-size:18px 18px;}
			& i{margin-left:3px;}
		}
		&__txt{ -webkit-line-clamp: 2; height:3.2em; margin-top:15px; font-size:16px;}
		&__date{margin:20px 0px 0px 0px; font-size:15px;}
		&__wrap{padding:14px;}
	}
	/*태블릿끝*/
	@media only screen and (max-width:$mobile-size) {
		&__wrap{
			&.is-active{
				& .sns__tit{
					&:before{width:18px; height:18px; background-size:18px 18px;}
				}
			}
		}
		&__list{width: 99999px; position: absolute; top: 0; left: 0; overflow: hidden; }
		&__tit{font-size:14px;
			&:before{width:18px; height:18px; background-size:18px 18px;}
		}
		&__txt{ -webkit-line-clamp: 2; height:3.2em; margin-top:15px; font-size:12px;}
		&__date{margin:20px 0px 0px 0px; font-size:11px;}
		&__wrap{padding:14px;}
	}
}

.paging{margin-top:40px; text-align: center;
	@media only screen and (max-width:$tablet-size) {display:none;}
	&.type-another .btn_page{
		&{
			&.on{border:1px solid #e62e71; background-color:#e62e71;}
		}
	}
}
.btn_page{position:relative; overflow:hidden; padding:0; width:10px; height:10px; border:none; background-color:transparent; border-radius:50%; text-indent:-999px; cursor:pointer; background-color:#ccc; border:1px solid #ccc;
	& + .btn_page{margin-left:12px;}
	&.on{border:1px solid #3d6dcc; background-color:#3d6dcc;}
}

// .page2{position:absolute; display:block; width:100%; text-align:center; bottom:30px;
// 	&__list{display:inline-block;
// 		& .bx-pager-item{position:relative; overflow:hidden; display:inline-block;  text-indent:-999px; width:22px; height:22px;
// 			& a{position:absolute; top:0; left:0; right:0; bottom:0; width:4px; height:4px; margin:auto; background-color:#000; background-color:rgba(0,0,0,0.5); border-radius:50%;
// 				&.active{width:20px; height:20px; background-color:#713dd9;}
// 			}
// 			& + .bx-pager-item{margin-left:12px;}
// 		}
// 	}
// 	@media only screen and (max-width:$tablet-size) {bottom:30px;
// 		&__list{
// 			& .bx-pager-item{width:10px; height:10px;
// 				& a{position:absolute; top:0; left:0; right:0; bottom:0; width:4px; height:4px; margin:auto; background-color:#000; background-color:rgba(0,0,0,0.5); border-radius:50%;
// 					&.active{width:10px; height:10px; background-color:#713dd9;}
// 				}
// 				& + .bx-pager-item{margin-left:12px;}
// 			}
// 		}
// 	}
// }
// .page3{
// 	&__list{margin-top:48px; list-style:none; padding:0;
// 		&:after{display:block; clear:both; content:'';}
// 	}
// 	&__item{float:left;
// 		& + .page3__item{margin-left:10px;}
// 		&.cycle-pager-active .page3__link{background-color:#3d6dcc; color:#fff;}
// 	}
// 	&__link{display:inline-block; width:28px; height:28px; text-align:center; line-height:28px; font-size:12px; color:#999; text-decoration:none; border-radius:50%;}
// 	@media only screen and (max-width:$tablet-size) {
// 		&__list{margin-top:20px; text-align:center;}
// 		&__item{float:none; display:inline-block;
// 			& + .page3__item{margin-left:12px;}
// 			&.cycle-pager-active .page3__link{
// 				&:before{display:none;}
// 			}
// 		}
// 		&__link{overflow:hidden; position:relative; width:10px; height:10px; line-height:10px; text-indent: -9999px;
// 			&:before{position:absolute; top:0; left:0; right:0; bottom:0; width:4px; height:4px; margin:auto; background-color:#75787c; content:''; border-radius:50%;}
// 		}
// 	}
// 	@media only screen and (max-width:$iphone-size) {
// 		&__list{margin-top:10px; text-align:center;}
// 	}
// }
.page3{display:block; margin-top:30px; text-align:left;
	&__list{display:inline-block;}
	&__item{position:relative; overflow:hidden; display:inline-block;  text-indent:-999px; width:12px; height:12px;
		& + .page3__item{margin-left:12px;}
		&.cycle-pager-active{
			& .page3__link{background-color:#3d6dcc; border:1px solid #3d6dcc;}
		}
	}
	&__link{position:absolute; top:0; left:0; width:8px; height:8px;  background-color:#ccc; border:1px solid #ccc; border-radius:50%;}
	@media only screen and (max-width:$tablet-size) {margin-top:13px; text-align:center;}
}
.page4{
	&__list{display:inline-block; margin-top:40px;
		& .bx-pager-item{position:relative; overflow:hidden; display:inline-block;  text-indent:-999px; width:10px; height:10px;
			& a{position:absolute; top:0; left:0; right:0; bottom:0; width:8px; height:8px; margin:auto; border:1px solid #a8a8a8; border-radius:50%;
				&.active{background-color:#713dd9; border:1px solid #713dd9;}
			}
			& + .bx-pager-item{margin-left:12px;}
		}
	}
	@media only screen and (max-width:$tablet-size) {
		&__list{margin-top:20px;
			& .bx-pager-item{width:8px; height:8px;
				& a{position:absolute; top:0; left:0; right:0; bottom:0; width:6px; height:6px; margin:auto;}
				& + .bx-pager-item{margin-left:5px;}
			}
		}
	}
}
/*추가적인것*/
.bx-viewport{height:100% !important;}
.main3__box .bx-wrapper{position:relative;}
